[2018-02-14 20:52] danielskatz opened #4 "website URL"
the website is
https://usrse.github.io/usrseweb/

can we make
https://usrse.github.io/
work too?

[2018-02-14 20:54] danielskatz opened #5 "URL in website"
Can we add the URL into the website text?

So if some does a screenshot, they can see the URL in the text...

This might be better to do after #4  once there is a simpler URL

[2018-02-14 21:03] christophernhill commented on #4
@danielskatz I was assuming we would wait until we had tidied up a little more and maybe pinged a few more people before attaching to an official looking URL. We did register usrse.org, so we can use that if we like it - I was thinking that would be final CNAME?

I need one more Friday evening to make a nice slack sign up. I decided to learn some AWS Lambda + serverless for that, so got distracted

[2018-07-03 17:06] danielskatz opened #6 "add mailing list link for website footer"
From Kelle Cruz: Consider putting mailing list link in the Footer. Can do near the twitter and GitHub.

[2018-07-03 17:07] #6 closed

[2018-11-13 16:01] bernhold commented on #4
Yeah, I was just revisiting this in advance of the SC18 RSE BOF and wondering why it ended up buried like this.  I see no reason not to move it up to https://usrse.github.io/ regardless of whether we associate a custom domain or anything.

My proposal would be to simply rename the repository and create a new repo in the original location with a simple redirect to the new site so that anyone who ha

[2019-01-03 20:00] cosden opened #7 "List of US RSE groups"
I think it would be great to have a page with a list (and links) to the institutions/groups of existing US RSEs along with clear instructions on how to get your institution/organization/group listed.

[2019-03-07 14:17] cosden commented on #7
Added in the new website!

[2019-03-07 14:17] #7 closed

[2019-03-07 14:21] cosden opened #13 "PR reviewers"
We need a policy/procedure for editing the webpages.  Should gh-pages be protected? Things like blog posts I think need to be a PR, with independent reviewers.   But what about smaller changes, like adding groups?

[2019-03-07 14:22] cosden commented on #4
Now that we have us-rse.org set up.  I think we can close this.

[2019-03-07 14:22] #4 closed

[2019-03-07 14:23] cosden commented on #5
Does the URL at the bottom of the new page work, @danielskatz?

[2019-03-07 14:49] danielskatz commented on #5
yes, though I don't know that it's needed anymore, given the simple URL - anyhow, good for now.

[2019-03-07 14:49] #5 closed

[2019-03-07 18:13] cosden opened #15 "Fix TravisCI scripts"
The travis tests are broken and need fixing.

[2019-05-14 19:32] cosden commented on #15
Fixed in #19.  Thanks @vsoch!

[2019-05-14 19:32] #15 closed

[2019-05-14 20:48] vsoch opened #22 "Add Continuous Integration to Preview Site"
We can very easily use Travis to test the content, and Circle to preview. Travis won't work for artifact preview because they require the user to specify a location to upload (e.g., AWS).

[2019-05-25 23:26] vsoch opened #32 "staticman documentation needed for developers"
Whomever configure and added static man, could you please write up docs that review:

 - what staticman is
 - how our site interacts with it
 - how to use it / update it
  https://github.com/USRSE/usrseweb/blob/bd9f1e93bf639bdc1a9f859d5485512cd4e8c3a0/staticman.yml#L9

[2019-05-26 11:27] cosden commented on #32
Staticman allows user comments on posts.  It was included as part of the theme when we redid the site.  I disabled it, but left the framework in should we decide we wanted it in the future.  I still don't think we should have it, and probably won't ever want it. Should we scrap the entire thing?

[2019-05-26 11:59] cosden opened #34 "Fix twitter image"
I can come back to this when I have time if no one else knows the best way to to it.  #31 uses site.title-img but then that just points twitter to /assets/img/logo.png, not https://us-rse.org/assets/img/logo.png.

It probably means changing in _config.yml title-img to have the full url, or putting in the twitter metadata  in head.html something like {{ site.url }}.

[2019-05-26 12:22] vsoch commented on #34
I'll just do it quickly now :)

[2019-05-26 12:47] vsoch commented on #32
I would say scrap it, and it could always be added back (but unlikely). It doesn't seem like many of the pages are appropriate for commenting, and having to manage them via PRs isn't even hassle free. If anything it would just lead to trolling. I'll make a PR and others can comment

[2019-05-28 17:38] cosden commented on #34
Done in #35.

[2019-05-28 17:38] #34 closed

[2019-05-28 17:38] cosden commented on #32
Done in #36!

[2019-05-28 17:38] #32 closed

[2019-05-28 17:39] cosden commented on #22
The artifact preview is now set up in Circle.

[2019-05-28 17:39] #22 closed

[2019-06-01 22:20] vsoch opened #37 "rename to usrse.github.io"
Doing so will serve the CNAME across the organization, for a common branding.

This will require also changing the DNS record I believe, @cosden you tried this before (and I think we needed to have the DNS changed too?) I'll assign this to you, since you know who controls the domain. And definitely no rush - it will take me a bump and a leap to get the template and then filled in instance for Stan

[2019-06-03 18:33] cosden commented on #37
@christophernhill owns the domain.  Given my failed attempt last time, he and I will need to coordinate.  Chris, let me know when you have time.

[2019-06-03 18:37] vsoch commented on #37
Thanks @christophernhill ! And please no rush, I know you guys are busy!

[2019-06-03 19:19] christophernhill commented on #37
Got it - I'll take a look. Just resurfacing,.,..,

On Mon, Jun 3, 2019 at 2:38 PM Vanessasaurus <notifications@github.com>
wrote:

[2019-06-03 22:38] christophernhill commented on #37
Small step - http://usrse.org now gives 404!

I think next step is to change
https://github.com/USRSE/usrseweb/blob/gh-pages/CNAME and see what
happens?

On Mon, Jun 3, 2019 at 3:19 PM Chris Hill <cnh@mit.edu> wrote:

[2019-06-03 22:42] vsoch commented on #37
On it! I'll triage this since we have 404.

[2019-06-03 22:43] vsoch commented on #37
Actually I can't - I don't own the repo! @cosden we need to rename the repo itself to usrse.github.io, the CNAME is already set with http://usrse.org.

[2019-06-03 22:44] vsoch commented on #37
And @christophernhill just to confirm - you are using the GitHub alias usrse.github.io (and not the old urseweb one?)

[2019-06-03 22:46] vsoch commented on #37
Here is an example config - the top section is for the GitHub servers - notice how it's essentially the same but with 08, 09, 10, 11, and then the last record (with type CNAME) says to point to that particular repository:

![image](https://user-images.githubusercontent.com/814322/58839413-c2206a80-862f-11e9-95a8-732c039c55ab.png)

This is google domains, but the same is true for whatever your DNS

[2019-06-03 22:49] vsoch commented on #37
And you can use dig to get the exact addresses:

[code]

[2019-06-04 01:23] cosden commented on #37
Sorry I missed this earlier...where are things?  I can try renaming the repo anytime to see what happens.  Now that I know that I need an empty commit to trigger github to rebuild the page should be a quick and easy experiment.

[2019-06-04 01:25] vsoch commented on #37
If the DNS stuff is taken care of, we should just need a rename (and if necessary) a rebuild. I don’t think it should technically need one, so maybe rename, give 20 mins, and then push a trivial change to try the rebuild.

[2019-06-04 01:26] cosden commented on #37
Doing now...standby...

[2019-06-04 01:43] cosden commented on #37
I think we have success!  Something I didn't anticipate (or notice last time) but github wouldn't publish from gh-pages, it would only publish from master.  So I created it.

I changed the default branch to master (from gh-pages).  So with that, I see no reason to keep gh-pages around anymore.

[2019-06-04 01:47] cosden opened #38 "Nav bar issues"
On chrome on my android phone I can't open the hamburger menu on the home page.  I can see the button, but I can't select it.  This is not the case on the beautiful jekyll base site, so something must have gone wrong along the way.

[2019-06-04 01:50] cosden commented on #38
I'm guessing it's related, but the padding on the right hand side of the nav bar (after careers) has disappeared.  Now the careers tab is pushed up against the edge

[2019-06-04 02:10] vsoch commented on #37
Awesome! Yes correct, only master works in this case. Master can work (along with docs) on any other repo too :)

[2019-06-04 02:13] vsoch commented on #37
And a quick preview of some of the awesomeness- not the blog (another repo) lives happily in the same family:

https://usrse.github.io/blog/

And the same will be true for all github pages deployed from org repos!

[2019-06-04 12:03] vsoch commented on #37
This was a success, solid work. Closing issue!

[2019-06-04 12:03] #37 closed

[2019-06-04 12:04] vsoch opened #39 "Renames for repository"
A few things to rename:
 - The link will work for a bit (GitHub redirects from old repos) but we should update it to https://us-rse.org/. I'm not able to since I don't have write to the repo.
 - The travis build status link is no longer valid.

[2019-06-04 12:07] vsoch commented on #38
The behavior can be reproduced in a browsed by using the phone emulator, e.g.,

![image](https://user-images.githubusercontent.com/814322/58877813-bf5d5e00-869f-11e9-853c-f5cb6d74c53e.png)

[2019-06-04 12:07] vsoch commented on #38
(see tiny button in bottom left with phone/ipad icons)

[2019-06-04 16:26] cosden commented on #39
For the first bullet, I assume you mean in the repo description? I just changed it.

[2019-06-04 16:28] vsoch commented on #39
Yes!
And for the PR just merged, we are close (and this is what I saw in testing).

![image](https://user-images.githubusercontent.com/814322/58896547-2bea5400-86c4-11e9-80e5-298e24d13877.png)
 The original template assumes as image that won't spill over into the menu area, so we will need to edit the css to hide the image entirely given a small screen.

[2019-06-04 16:28] vsoch commented on #39
But I'm glad to see that what I see on the browser matches my phone (I was just looking now) which will make future development easier.

[2019-06-04 16:43] cosden commented on #39
I made the changes to travis (in #41) that I thought would fix it and the circle test failed.  I won't be able to come back to until later today to look into what happened.

[2019-06-04 19:59] cosden commented on #38
Fixed in #40.

[2019-06-04 19:59] #38 closed

[2019-06-04 20:00] cosden opened #43 "Add small logo to mobile navbar"

[2019-06-04 22:34] cferenba commented on #43
For this case you might want to use avatar-icon.png, which is just the maroon square, instead of the full logo logo.png.

[2019-06-04 23:00] vsoch commented on #43
oh yeah, super cute! +1

https://github.com/USRSE/usrse.github.io/blob/master/assets/img/avatar-icon.png

[2019-06-04 23:00] vsoch commented on #43
![image](https://user-images.githubusercontent.com/814322/58919156-edfc2880-86e1-11e9-843e-4e61dc8884cc.png)

[2019-06-05 22:57] #43 closed

[2019-06-08 17:09] vsoch commented on #39
We should also:

 - put a note in the README to do PRs against master
 - delete the gh-pages branch so there isn't confusion.

But first let's confirm we are deployed on master.

[2019-06-10 18:47] vsoch commented on #39
Both of these are done, we're good. Closing!

[2019-06-10 18:47] #39 closed

[2019-06-13 21:18] vsoch commented on #13
@cosden do you think the current protocol is working, or do we need further "hardening" of these rules? I would say that those who are interested and able to review can offer, and otherwise I'm not sure how to enforce people giving feedback if they don't want to :P

[2019-06-13 21:18] vsoch commented on #13
oops didn't mean to close it!

[2019-06-13 21:24] danielskatz opened #51 "lack of consistency in website(s)"
We have a website (https://us-rse.org) that has a menu bar across the top, and for most options that are selected, the menu bar doesn't change.  But if you pick something under resources, you get taken to a different website with a different menu bar, where it's not really clear what website you are in - the USRSE logo in the top left makes it seem like it's the same website, but the different men

[2019-06-13 21:34] vsoch commented on #51
Thank you for this feedback @danielskatz. The original goal was to serve the various resources under the same domain, and you are right that clicking on the link (from the menu bar) and not having an external link open is confusing for branding. I think it's important to maintain modularity of the sites for ownership and development (e.g. having one massive site with different needs for testing, a

[2019-06-13 21:37] vsoch commented on #51
I'll also note that I think it's great that we are having these discussions, and we have these issues in the first place! It's much better to have meat / content to work with than absence and complete silence. I'll also note that slack is (sometimes) a bit dangerous to have discussions, because given that it's the free version, they are lost forever once your community has a certain number of mess

[2019-06-13 21:37] danielskatz commented on #51
I guess one more very specific thing is that in the current site, under the Resources menu, one option keeps you on the site, and another option takes you to another site, and I think the new third option in #50 will take you to a third site.  Having items under one menu that have such different behavior is part of my confusion

[2019-06-13 22:31] cferenba commented on #51
One comment on the beautiful-jekyll issues:  I think the problem is not that we are using that theme, but that we've done very little to customize it for our use.  I have some ideas on how we can customize it and make it more distinctly ours, but haven't had time to work on them.

[2019-06-14 02:27] cosden commented on #13
@vsoch, I think we are doing fine.  We can/should revisit this later if it becomes an issue or concern.

[2019-06-14 02:27] #13 closed

[2019-06-14 02:50] cosden commented on #51
Looks like I missed a lot of good discussion today!  I see value to keeping sites separate from a development standpoint but also in keeping branding and logic flow the same from a web user's perspective.  I'd like to think a bit about how to best go about this.
Maybe we can do some thinking here as a group. Who are our target audiences are and how they are likely to interact with the website(s)?

[2019-06-14 12:05] vsoch commented on #51
Good morning and happy Friday! I wanted to share my design thinking for all of the sites that I've made so far, so it doesn't seem random (it has been very intentional.)

## RSE Blog

For the [blog](https://us-rse.org/blog/),  I was going for a simpler version of the main site. I didn't want it to look like Beautiful Jekyll, but rather have similar features and a focus on content. This is why I em

[2019-06-14 16:09] cferenba commented on #51
More on beautiful-jekyll:  look at the top two example pages on https://deanattali.com/beautiful-jekyll/featured-users/ to get ideas of how we might customize.

[2019-06-14 16:24] vsoch commented on #51
For the first link - the blue is pretty good. A colored (or even better, textured!) header like we have on the community pages would be beautiful - can you imagine that deep plum to match the RSE logo?

For the [second link](https://www.vaccineimpact.org/) I'm not a fan - the logo is fuzzy, and the spacing on the page is weird. One thing that could be cool (on both these pages) is a *really* subtl

[2019-06-14 16:27] vsoch commented on #51
Another variable we can test (that does wonders for making a site unique, or feel different) is to look at different fonts -> https://fonts.google.com. it's fairly easy to add different Google Font imports to the page, and test. It's usually good to have one for the header divs, and then a good one for the content itself (you commonly see two choices paired for this reason).

[2019-06-14 16:28] vsoch commented on #51
okay I clicked through all the personal sites - they all look the same "just another Beautiful Jekyll site" with different photos and possibly a header image :)

The phrase above is funny because "Just another wordpress site" is a well established tagline in the Wordpress community!

[2019-06-14 16:30] cferenba commented on #51
I agree with the comment about google fonts - I've wanted to investigate some different font choices but it hasn't risen to the top of the to-do list.

[2019-06-14 16:46] vsoch commented on #51
If you want help, I can volunteer to investigate and share some screen shots, maybe this weekend / early next week, or if you get to it first. In the meantime, I've triaged the issue of having *three* different looking sites to reducing it to 2 by basically changing the navigation for the (currently rather bare) blog site. See https://github.com/USRSE/blog/pull/23 if you'd care to review.

After t

[2019-06-14 16:52] cferenba commented on #51
If you can gather some ideas, that would be great - I know I will not get to it in the next week.

[2019-06-15 19:42] vsoch commented on #51
@cferenba I've put in the first tweak to discuss - having a header background image, akin to the first link that you sent with the blue header. See #52

[2019-06-16 11:52] danielskatz commented on #51
Hi - I feel a little like this issue has moved away from the initial discussion into a design discussion...

I wonder if we can first agree on the website(s) themselves?

First, I fairly strongly dislike the idea of having multiple web sites at all. I understand that this makes development easier, but I really think it's confusing for users.

However, if others disagree, then I strongly want to pu

[2019-06-16 11:55] vsoch commented on #51
My vote goes for multiple sites that look seamless. They are served alongside one another on GitHub servers, so it's a technicality about the development location, and the modular development does well to serve multiple different teams that work on the different sites (e.g., community-stanford has permissions for collaborators from Stanford, blog should remain separate because it has an extra coll

[2019-06-16 11:59] danielskatz commented on #51
Yes, multiple sites that look seamlessly like one would be another option that I didn't mention - sorry.  For some reason, I was thinking we had already decided against that.

If that's an option we can do technically, I would be happy with it.

[2019-06-17 18:40] cferenba commented on #51
I agree that multiple, seamless sites is probably the best option that answers the issue and does what we need.  And it should be technically feasible to do it.

[2019-07-02 16:00] vsoch opened #53 "Shared link should not include jinja2!"
This speaks for itself :)

![image](https://user-images.githubusercontent.com/814322/60527793-f59ef500-9cc0-11e9-8b74-191c55702801.png)

This content is likely derived from some meta tag, so we need to fix that up :)

[2019-07-10 22:52] #53 closed

[2019-07-16 20:36] dfmenendez commented on #51
I believe there is a typo regarding the date on the PEARC announcement pages at:
https://us-rse.org/blog/2019/usrse/2019-07-15-19-pearc19/
and
https://us-rse.org/2019-07-15-19-PEARC19/

[2019-07-16 20:38] vsoch commented on #51
What's the typo @dfmenendez, and specifically, the correct date?

[2019-07-16 20:39] dfmenendez commented on #51
I believe there is a typo regarding the date on the PEARC announcement pages at:
https://us-rse.org/blog/2019/usrse/2019-07-15-19-pearc19/
and
https://us-rse.org/2019-07-15-19-PEARC19/

Sorry, maybe this was not the right issue to bring this up. Yes, the date says July 15 instead of July 29.

[2019-07-16 20:43] cferenba commented on #51
@dfmenendez : You are correct, that version has a typo.  Thanks for the catch!

We do have the correct date (July 29) at:
https://us-rse.org/events-training/
but apparently something got munged when turning that into a blog post...

[2019-07-16 20:46] vsoch commented on #51
okay, both are fixed. Hey, these things happen! Not a big deal :) Thanks for the catch @dfmenendez !

[2019-07-16 20:47] vsoch commented on #51
@danielskatz :point_right: https://www.youtube.com/watch?v=umj0gu5nEGs&feature=youtu.be#t=1m50s :laughing:

[2019-07-16 20:51] cosden commented on #51
Clearly my fault! Thanks for the catch.

-------- Original message --------
From: Charles Ferenbaugh <notifications@github.com>
Date: 7/16/19 4:43 PM (GMT-05:00)
To: "USRSE/usrse.github.io" <usrse.github.io@noreply.github.com>
Cc: "Ian A. Cosden" <icosden@princeton.edu>, Mention <mention@noreply.github.com>
Subject: Re: [USRSE/usrse.github.io] lack of consistency in website(s) (#51)

@dfmenendez<h

[2019-07-16 20:59] dfmenendez commented on #51
Happy to help and thank you for the prompt response :)

[2019-07-16 23:11] vsoch opened #62 "Add resources page"
We need a place to put useful links (resources) (under the "Resources" tab? I assume), as discussed in the call today. It might be good to start with contributions here / slack for examples to clarify what a resource is.

[2019-07-17 02:07] cosden commented on #62
Agreed.  I think eventually we could have sub categories by intended audience/purpose

Here are some links (that contain content) off the top of my head that might be useful to practicing or aspiring RSEs.  Basically I see this as supporting Research Software Engineering, something that RSEs obviously do:
1. https://bssw.io/
1. https://ideas-productivity.org/ (more specifically: https://ideas-prod

[2019-07-17 20:18] cferenba commented on #62
I like @cosden 's list as a start.  A few thoughts:

- We should distinguish between resources we provide vs. links to other sites of interest.  The latter should probably go on a "useful links" page, under the "Resources" drop-down menu.  The former should be part of other pages we create (e.g., the "Starting a Group" page).

- A title, and maybe a one-line explanation in some cases, ought to be

[2019-07-17 22:25] vsoch commented on #62
hey I'll chime in and get us started on this tomorrow! I got too obsessed with the rse-phenotype generator today to notice anything else in the world, rofl. Looking forward to this!!

[2019-07-18 14:56] vsoch commented on #62
Working on this now!

[2019-07-18 15:18] vsoch commented on #62
How do you guys feel about having it be required to give personal information to download? https://www.computer.org/education/bodies-of-knowledge/software-engineering/v3 I call sketchy.

[2019-07-19 18:26] #62 closed

[2019-07-25 12:19] cosden opened #66 "Update US-RSE Association"
We have different names for the organization all over the place and it would be good to be consistent.  Following the lead of the UK, and where we'd like to go, it should all be "US Research Software Engineer Association" and abbreviated with the hyphen as "US-RSE".  It's just a matter of going through and checking (and updating the logo).

[2019-07-25 12:22] cosden opened #67 "Add Newsletter"
Now that we have one, we should have a place to archive past newsletters.  Probably under "community" but perhaps "resources."

I can do it soon(ish).

[2019-07-25 12:43] vsoch commented on #67
Jekyll has a built in thing for this - the posts of course! I would suggest keeping it simple, and having a category of posts (referred on the site as "News and Updates") that pertains to newsletter, and then the link that you want to create under Community can filter down to a specific tag. If you want some sort of distinct look, you can also try a custom template for them. What I wouldn't do is

[2019-07-25 12:48] vsoch commented on #66
@cosden I only see the mention of a different name (with Community) in two places - I'll open up a PR and you can take a look. I used grep to search for something like usrse / USRSE and didn't find any, aside from the GitHub organization and repo names, which I don't think we would do well to add a slash to (and make it harder for the user to find).

[2019-07-25 12:55] cosden commented on #67
Ah, so you are thinking we just make it a post?  Actually, I like that idea.

[2019-07-25 13:01] christophernhill commented on #67
I was assuming that is what we would do. Bit like
https://juliacomputing.com/blog/
but not as fancy (yet!).

Chris

On Thu, Jul 25, 2019 at 08:55 Ian Cosden <notifications@github.com> wrote:

[2019-07-25 13:23] vsoch commented on #67
A post is the intended / perfect unit of operation for a news item. I don't see an easy way to do otherwise, other than maybe use a collection (not as appropriate) or manually write every page (this sounds terrible). So yes - post! And if it needs some special designation, that's what tags / categories can be used for.

[2019-07-25 13:54] #66 closed

[2019-07-26 18:08] danielskatz commented on #51
Is everyone happy with how things look now? (i.e. can we close this issue?)

[2019-07-26 19:07] vsoch opened #74 "Add dynamic graphic for membership counts"
Discussed in #71

[2019-07-26 19:30] vsoch commented on #67
Closed with #71

[2019-07-26 19:30] #67 closed

[2019-07-26 19:30] vsoch commented on #74
@cosden can you comment on where the data is from?

[2019-07-26 22:20] cosden commented on #74
It's from the responses from the sign up google form to get access to slack. We are about (or just did) change the form, so moving forward, new entries will come from there.

[2019-07-26 22:24] vsoch commented on #74
Are there scripts to automate extraction of data? An easy avenue would be to have it populate a Google Sheet, and then have someone / some job run at some regular timepoint to update data that renders to the site. I assume that most of the data will be private, but the anonymous metrics (number of people) we could possibly share?

[2019-07-27 17:06] cosden commented on #74
There arent any scripts, yet, but I dont see any reason there couldn't be. You're right we can't share most of the data, but the count should be ok.

[2019-07-27 19:27] vsoch commented on #74
Can you send me the current counts? That were used to produce the plot?

[2019-07-29 14:28] cosden commented on #74
@vsoch I'll email you what I have right now.

[2019-07-29 14:29] vsoch commented on #74
cool thanks :)

[2019-07-30 13:44] danielskatz opened #76 "add logos to website under resources?"
Should we add a logos item under the website's resources menu?

[2019-07-30 13:46] vsoch commented on #76
Sure, what did you have in mind?

[2019-07-30 13:48] vsoch commented on #76
The logos are stored in a separate repository, so either the logos repos would need to have consistent, predictable files (that are rendered in the site) or we would need to copy the files (redundancy, probably not ideal to need to change both) or we can have a link to a separate page, rendered by the logos repo, that lists them. The first would probably work okay, given that we have some well dec

[2019-07-30 13:55] danielskatz commented on #76
maybe this would just be a link to the [github repo](https://github.com/USRSE/logo)?  And then maybe enhance the readme by including some of the images?

[2019-07-30 13:56] vsoch commented on #76
Sure! That's simple and works well, let me do some PRs to get started.

[2019-07-30 14:05] vsoch commented on #76
Okay, here is tweak to logos repository - I just added a smaller of the logos and instructed the user to see the subfolders for different sizes and versions:

 - https://github.com/USRSE/logo/pull/2

And the pull request to add the Logos link to Resources:

 - https://github.com/USRSE/usrse.github.io/pull/77

[2019-08-05 13:05] cosden commented on #74
Done in #75!

[2019-08-05 13:05] #74 closed

[2019-08-05 14:02] cosden opened #81 "Events page redesign for past events"
Now that PEAR19 is in the rear view mirror, we should probably decide if we want to keep old events somewhere (I think likely yes) and if so, where/how.

[2019-08-05 14:07] vsoch commented on #81
The cleanest thing would to be to have the events read from a data file, with the dates of the event included, and then rendered on an Events page if not passed, and otherwise rendered on a (linked) Events Archive. The Events Archive would take the same format as the posts archive (easily browsable by year) but for events, of course.

[2019-08-05 14:07] vsoch commented on #81
PEAR19 - the ultimate fruit conference!

[2019-08-05 14:07] vsoch commented on #81
Sorry couldn't help myself :pear: :P

[2019-08-05 14:29] cosden commented on #81
You never know!  http://www.wapa-association.org/asp/index.asp

[2019-08-05 14:54] vsoch commented on #81
See https://github.com/USRSE/usrse.github.io/pull/82

Sorry no fruit there, I'm disappointed too :apple: :green_apple:

[2019-08-06 21:39] vsoch opened #84 "Add download button for membership / join image"
The visitor should be able to click on the canvas, and have it download.

[2019-08-07 16:07] #84 closed

[2019-08-07 18:33] #81 closed

[2019-08-16 13:34] danielskatz opened #90 "date problem in graph"
Lance points out that in our graph on https://us-rse.org/join/

[2019-08-16 13:36] danielskatz commented on #90
I think I fixed this in https://github.com/USRSE/usrse.github.io/commit/ca29e4e5be3824adb01a6baafa75e59a51eb0703

I'll leave this open until I'm sure on the live page

[2019-08-16 13:36] danielskatz commented on #90
yes, it's fixed!

[2019-08-16 13:36] #90 closed

[2019-08-16 13:41] vsoch commented on #90
Yeah this looks like a typo - thanks for the speedy fix! Is the data it's exported from fixed too?

[2019-08-16 13:42] vsoch commented on #90
Just fixed in the data :) Sorry this was likely my typo. 8 and 9.... so similar!

[2019-08-16 13:53] danielskatz commented on #90
Thanks. I didn’t realize this was coming from somewhere else

[2019-08-16 13:54] vsoch commented on #90
Yep! Please see https://github.com/USRSE/usrse.github.io/pull/75 first comments for an overview of how the data is generated.

[2019-09-01 19:14] danielskatz opened #94 "member count for august?"
How does the member count get updated?  I'm looking for the version with August included for the RSEconUK19 slides...

[2019-09-01 19:16] vsoch commented on #94
It's an equation in the sheet, looks okay to me!

![image](https://user-images.githubusercontent.com/814322/64081179-77180100-cccb-11e9-9253-902ac791aff7.png)

The above says that there were 22 new members, for a grand total of 168. What isn't clear?

[2019-09-01 19:18] vsoch commented on #94
Someone needs to update the entry in this data file: https://github.com/USRSE/usrse.github.io/blob/master/_data/memberCounts.csv

I think @cosden has been updating. Either way, someone(s) should know to regularly do it.

[2019-09-01 19:22] danielskatz commented on #94
yes, that's what I meant - how does that get updated?

[2019-09-01 19:22] danielskatz commented on #94
In this case I'm going to do it so I can get the graph I want :)

[2019-09-01 20:17] vsoch commented on #94
haha, ok :)

[2019-09-01 21:59] vsoch opened #95 "Test out ways to automate adding new member count"
Assigned myself.

[2019-09-01 22:00] vsoch commented on #76
This was done, see https://us-rse.org/links/

[2019-09-01 22:00] #76 closed

[2019-09-01 22:00] vsoch commented on #51
Two thumbs up (and the third implied from @danielskatz who opened the issue and asked about it!) Closing issue!

[2019-09-01 22:00] #51 closed

[2019-09-02 16:58] vsoch commented on #94
I have a PR in progress to automated this, but GitHub action permissions are not working as advertised. FYI #97 Since you updated it, I'm going to close this issue.

[2019-09-02 16:58] #94 closed

[2019-09-06 17:49] cmaimone opened #99 "documentation for pull requests"
It would be helpful to have more documentation about how the workflow around a pull request happens.

When I make a pull request, there are some automated tests -- which of these need to pass, how do I get information about failures, etc.

Then should I request review?  From who?  If they suggest changes what happens?  Who makes ultimate merge?  All of these details.

@vsoch assigning you since yo

[2019-09-06 17:51] vsoch commented on #99
The one failing automated test is not a normal condition -  the same assumptions about real pull requests  apply that all tests need to pass.

[2019-09-06 17:51] vsoch commented on #99
That’s a good point about requesting review – we don’t really have a protocol for that.

[2019-09-06 17:52] vsoch commented on #99
I’ll write something up and open a PR for review :-)

[2019-09-06 18:39] cmaimone opened #101 "documentation on testing and integrations"
In addition to #99, we also need documentation more for admins as to what tests are running, what integrations exist, etc.  It's possible that info will need to go somewhere else other than this repo if there is sensitive credential info or other details that should not be publicly exposed.

[2019-09-06 19:20] vsoch commented on #101
The tests are self documenting in that (given that they exist) they run, and in that something doesn't work, it will issue an error. In the case of credentials or custom settings in CircleCI I could see the need to document this, however this repository has no special settings or secrets, everything that is needed is represented in the .circleci/config.yml and .github/workflows. In the case that c

[2019-09-06 19:39] vsoch commented on #101
Actually, let me flip this suggestion on its head! What I think would be useful to do is to append the [already existing notes](https://github.com/USRSE/usrse.github.io#tests) with a comment that there *aren't* any secrets or permissions to be worried about. I'll also re-organize into sections for each of Travis, CircleCI, and GitHub. That should meet the requirements of this request.

[2019-09-06 19:40] vsoch commented on #101
Putting myself in the shoes of someone not familiar with the testing, this is how I see it playing out:

### Currently

 - some security breach / thing is announced
 - "Oh no, I think usrse.github.io uses that!"
 - arrives at repo, no notes (panic)

### With Updates

 - some security breach / thing is announced
 - "Oh no, I think usrse.github.io uses that!"
 - arrives at repo, see notes, no cause

[2019-09-06 21:18] vsoch commented on #101
I'll work on this after #102 is properly reviewed.

[2019-09-09 17:38] #99 closed

[2019-09-13 13:07] #101 closed

[2019-10-25 13:15] vsoch opened #116 "Better instructions for adding calendar"
I'm not sure where this is linked, but we should do a better job of sharing the calendar:

https://calendar.google.com/calendar/embed?src=kgh79lg13k1d8a2o1s6megfuhc%40group.calendar.google.com&ctz=America%2FNew_York

And then also providing enough information within the events so that people know how to participate (for example, the community call next week at 2pm has no information for how to joi

[2019-10-27 11:27] cosden commented on #116
All good points.  @christophernhill made the calendar and I think has plans (or ideas) for where to go next.

[2019-10-30 15:15] vsoch commented on #95
All done!

[2019-10-30 15:15] #95 closed

[2019-11-15 22:51] lparsons opened #127 "Write instructions to preview PR on CircleCI"
Wrote up very basic version on Google Doc, but need to put this in as part of the README or something here.

https://docs.google.com/document/d/1KLYdJniQoRTOQZ4L5FmmqnbJonSPl09pHC-mS-oebfM/edit?usp=sharing

[2019-11-15 23:13] vsoch commented on #127
Good job GitHub bot, I’m proud of you for being so welcoming to new contributors!

[2019-11-25 19:36] cosden opened #128 "Broken link in newsletter"
How should we deal with this?  There is a broken link to the Cal Tech job (https://chm.tbe.taleo.net/chm03/ats/careers/v2/viewRequisition?org=CALTECH&cws=37&rid=4938) that went out with the October newsletter (https://us-rse.org/2019-10-24-newsletter/).  If travis is going to check everything, this is inevitably going to happen over and over again.

Should we remove the link in the post and write

[2019-11-25 19:41] vsoch commented on #128
A lot of the job links I’ve seen on here are almost certain to go away - which is why we test the jobs data file and require an expiration date. For Travis, you’re right that the broken link will break testing into the future, so here is my thinking:

 - for this and all future site newsletters, maybe mention the job names but then link to the single jobs page for more information.
 - Generally do

[2019-11-25 19:45] cferenba commented on #128
I think @vsoch's idea makes sense, but one clarification:

That is, except for the jobs page itself, right?  Since we have expiration dates attached to the jobs there, the links should get filtered out by the expiration date before they go invalid.

[2019-11-25 19:46] cosden commented on #128
Removing hard links in the website version of the newsletter seems the easiest and most sensible solution. Since it requires a manual (for now) conversion to markdown, it should be easy enough to make standard practice.  I'll make the change in the october one.

[2019-11-25 19:47] vsoch commented on #128
I can better clarify - when I say a hard link, I mean writing it directly into the text, like `https://hotdogs.are.us`. The jobs page itself doesn't have any hard links because they are rendered from the data file `_data/jobs.yml` that is checked for correctness via the continuous integration. Does that make sense?

[2019-11-25 19:48] vsoch commented on #128
And exactly, the expiration date controls if we render the link or not - once a job link is expired it won't render any longer, and it's okay to just leave in the file, but likely someone will clean it up every once in a while :)

[2019-11-25 19:49] cferenba commented on #128
Ah, okay, I see what you mean now, I wasn't familiar with that terminology.  That makes sense.

[2019-11-25 19:50] vsoch commented on #128
For future folks to see - here is what the jobs page looks like:
[code]
and the newsletter page with hard links)

[code]

[2019-11-25 20:02] vsoch commented on #128
This is fixed with #129. We will need to be diligent for future Newsletter posts!

[2019-11-25 20:02] #128 closed

[2019-12-01 06:53] vsoch opened #133 "Hide contribution graph on small screens"
@danielskatz pointed out that the contributors graph is squished on small screens:

![image](https://user-images.githubusercontent.com/814322/69910676-2d22e200-13c4-11ea-8f8a-fe7d01b4a3ff.png)

It would be a simple solution to add css to hide it given under some number of pixels.

[2019-12-14 13:09] #133 closed

[2020-02-15 03:46] jordanperr commented on #116
I am working on this here: https://github.com/jordanperr/usrse.github.io/tree/update/add-google-calendar

[2020-03-01 00:15] vsoch opened #168 "External link to code of conduct failed"
This is likely transient since tests just passed on the PR before merging, but the linked CoC here failed the recent merge to master:

[code]
The link looks fine so I think we can safely ignore for now. If any admins on Travis can trigger a re-run @USRSE/usrse-admin it would be great to get the badge green again :)

[2020-03-01 00:25] vsoch commented on #168
It _was_ transient, now green! Closing issue.

[2020-03-01 00:25] #168 closed

[2020-03-03 23:45] vsoch opened #171 "html-proofer needs retry"
There is currently no variable you can set in html-proofer to allow for a retry, and this is a huge pain point because travis is failing every other time with a URL that otherwise is fine. There are two issues to track here - the first is for the underlying library:

 - https://github.com/typhoeus/typhoeus/issues/182

And the second then will need to bubble up and be represented here:

 - https://

[2020-03-08 01:36] vsoch commented on #171
Look into https://github.com/SuperKogito/URLs-checker

[2020-03-09 19:14] vsoch commented on #171
https://github.com/urlstechie/URLs-checker/pull/17

[2020-03-22 20:30] vsoch commented on #171
Done done done :)

[2020-03-22 20:30] #171 closed

[2020-03-31 14:31] rafmudaf opened #186 "Redirect for subpages"
The redirect for the "April Meeting" page works for https://us-rse.org/2020-april-workshop/ but not for https://us-rse.org/2020-april-workshop/agenda/. Can a wild card be added to the redirect header:

[code]

Or would this require all subpage-redirects to be listed individually?

[2020-03-31 15:44] vsoch commented on #186
Hey @rafmudaf can you point me to where the subpage link is? We would need to add another permalink with redirect for it.

[2020-03-31 15:52] rafmudaf commented on #186
Here's the page that goes to a 404 error: https://us-rse.org/2020-april-workshop/agenda/. I'll make a pull request for this and other pages.

[2020-03-31 15:55] rafmudaf commented on #186
Can multiple permalink blocks exist in the same file? As in, can `pages/redirects/2020-April-Workshop.md` looks like this:

[code]

[2020-03-31 16:35] vsoch commented on #186
Thanks for the question! Each page is only allowed one section for front end matter, so unfortunately no, we'd need a separate page. Can you please link me to where the link for the agenda is currently present (and broken?)

[2020-03-31 16:45] rafmudaf commented on #186
Here's where the agenda is currently presented: https://us-rse.org/first-community-workshop/agenda/
And here's where its broken: https://us-rse.org/2020-april-workshop/agenda/

[2020-03-31 18:04] vsoch commented on #186
Sorry I'm not being clear - _where_ is the link https://us-rse.org/2020-april-workshop/agenda/ being referenced, e.g., what other website has a link to https://us-rse.org/2020-april-workshop/agenda/ that results in 404?

[2020-03-31 18:06] vsoch commented on #186
We are good to go ahead and PR, I just want to make sure that it's not something that can be fixed elsewhere! For example, if the link is from a usrse hosted site, we would much more easily fix it there. However if it's been distributed in a newsletter, we would best change it here.

[2020-03-31 18:12] vsoch commented on #186
Anyway, better be safe than sorry, right? I've opened a PR to address this - https://github.com/USRSE/usrse.github.io/pull/187 the redirect works locally but we can check it when the artifacts are ready anyway.

[2020-03-31 19:06] rafmudaf commented on #186
AAHH I'm sorry, I misunderstood. I got the link from an email and haven't seen it referenced anywhere on the US RSE website.

[2020-03-31 20:05] vsoch commented on #186
Haha totally okay! Finding in an email is exactly the evidence I was looking for to warrant changing on here - we can't click "undo send" on emails sent months ago and fix those links (so we do it here!) :)

[2020-03-31 20:07] vsoch commented on #186
Fixed with #187

[2020-03-31 20:07] #186 closed

[2020-04-06 19:22] vsoch opened #191 "Heads up about build artifacts!"
Since we manipulate the static URL for our previews to work, this tweak might (or might not) impact us. Let's keep an eye on it!

![image](https://user-images.githubusercontent.com/814322/78596803-a1094700-7809-11ea-8f97-c21fde993367.png)

[2020-04-13 23:47] vsoch commented on #191
After we've successfully built and previewed after April 30, that is criteria for closing this issue. Still a couple of weeks to go!

[2020-04-22 17:52] danielskatz opened #206 "map confusion"
I'm confused that the link from the main site under RSE Map goes to https://us-rse.org/map/, and there is also https://us-rse.org/usrse-map/ which doesn't seem to have any way to get to from the main site.

Also as a side note, there's a dot in Pasadena, Newfoundland, Canada that should be in Pasadena, CA, USA

[2020-04-22 18:02] vsoch commented on #206
There is a usrse-map repository, which is programatically parsed based on locations in people that sign up. https://github.com/USRSE/usrse-map I created this after the original map (which was sort of opt in) and they are different! @cosden and I were talking about removing the /map/ and just directing to usrse-map, but he said it's not urgent / priority since there are a lot of things on his place

[2020-04-22 18:18] cosden commented on #206
Yes I think we should swap about the main site map with the usrse-map. We talked about it a week or two ago and I didn't have time, so I put it on my back burner. This is good - I should have opened an issue.

[2020-04-22 18:21] vsoch commented on #206
Yep! Should be fairly easy to do, you could just change the url actually and leave the current map page existing (but hidden) in case we want to use it again. Or just delete everything and I'll be sad but get over it.

[2020-04-22 18:31] vsoch commented on #206
I'll fix this up, PR shortly.

[2020-04-22 18:55] vsoch commented on #206
The PR #208 is opened and ready for review to update the map linked here to be the larger one. The pasadena issue is also fixed.

Before:

![image](https://user-images.githubusercontent.com/814322/80021794-4c67fc00-8498-11ea-8b9a-de22555ee13d.png)

After:

![image](https://user-images.githubusercontent.com/814322/80021909-7d483100-8498-11ea-8aff-e199ec4171c2.png)

[2020-04-22 19:55] #206 closed

[2020-05-29 01:12] vsoch opened #220 "Northwestern has bad certificates"
A recent action run shows:

[code]
@cmaimone is there anyone you can ask about this? I'll do a re-run tomorrow to see if it's transient. To reproduce, you can just do:

[code]

[2020-05-29 01:13] vsoch commented on #220
And I can also remove this data file from being checked, since we don't use it anymore for the map.

[2020-05-29 19:11] cmaimone commented on #220
Seems to be this issue: https://stackoverflow.com/questions/28667684/python-requests-getting-sslerror - if it's an issue, you can remove it.  I don't have the energy to track this down at the university level :)

[2020-05-29 21:11] vsoch commented on #220
Fixed.

[2020-05-29 21:11] #220 closed

[2020-06-01 01:16] vsoch opened #225 "UK RSE site having SSL Error"
In recent clean jobs action:

[code]
to reproduce:

[code]
I'll see if I can ping someone on the UK list to look into it.

[2020-06-01 08:37] jag1g13 commented on #225
Thanks for letting us know, I've just renewed the certificate.  Looks like our uptime monitor doesn't check certificates, so we might have to investigate alternatives.

However, https://rse.ac.uk is considered legacy as it represents the old UKRSE association - you'll notice that the landing page redirects to https://society-rse.org as of last week.  Pages on the old website are still accessible b

[2020-06-01 08:43] vsoch commented on #225
Ah thank you for this update! I'll put in a PR ASAP to update the url.

[2020-06-01 13:35] #225 closed

[2020-06-01 13:35] vsoch commented on #225
Okay we're all fixed. Thanks again @jag1g13 !

[2020-06-23 01:22] vsoch opened #234 "Make sure princeton url is back up"
Maybe tomorrow.
https://puwebp.princeton.edu/AcadHire/apply/application.xhtml?listingId=16041

[2020-06-23 23:17] #234 closed

[2020-07-02 02:19] cosden opened #246 "Protect master?"
I was in the web editor on github to make a small addition and I very nearly clicked commit to master. It was just a small change, and it's late so I'm barely thinking properly.
That said, is it time to protect master to force a PR and a review?  To protect against people like me who tend to do things when they are tired.
I know it hasn't been an issue yet, but we are essentially already doing a P

[2020-07-02 02:26] christophernhill commented on #246
+1 - sets a good RSE habits example too!

[2020-07-02 02:30] vsoch commented on #246
Done! Take a look and see if that’s what we want.

[2020-07-02 02:32] vsoch commented on #246
I’m not sure, it looks like I might be able to still.
![328FDDEB-6B58-46B0-A439-398F7478D63D](https://user-images.githubusercontent.com/814322/86309899-00dd7700-bbda-11ea-8c73-39a023e7ce83.jpeg)

Anyone care to test? lol

[2020-07-02 02:36] danielskatz commented on #246
Can we also change “master” to “main”?

[2020-07-02 02:38] vsoch commented on #246
Yes I think we should, but I think we should wait for GitHub to finish up official discussion - they might provide an easy tool / docs for how to do it right (eg to update connected services and whatnot). We can keep an issue open to check back every so often.

[2020-07-02 02:45] vsoch opened #247 "Rename master to main"
Per discussion in #246 we also want to rename master to main, and ideally GitHub (which has already announced moving forward with it) https://www.zdnet.com/article/github-to-replace-master-with-alternative-term-to-avoid-slavery-references/ will release some tooling to make this easier. I’m opening this issue to track this - and we should go for a manual approach if there is no further response fro

[2020-07-02 17:37] cosden commented on #246
I think we are good now. I went into the protection rule and added "enforce for administrators"  Now I can't commit:
![image](https://user-images.githubusercontent.com/5824618/86392208-1057d100-bc69-11ea-9f2f-ebd238cbe23c.png)

Can someone else test?

[2020-07-02 18:14] vsoch commented on #246
yep let me try again too.

[2020-07-02 18:14] vsoch commented on #246
We're good!
![image](https://user-images.githubusercontent.com/814322/86395515-9a01a180-bc5d-11ea-9042-80465b0cb17d.png)

[2020-07-02 18:14] #246 closed

[2020-07-03 20:28] vsoch opened #253 "Update allcontributors to skip bots"
Right now we would update and add manbat back in, but we don't want to do that. I'll work on this and update the action when I'm done.

[2020-07-04 01:04] vsoch commented on #253
Closed with #254.

[2020-07-04 01:04] #253 closed

[2020-10-05 08:26] marwahaha commented on #116
I think this issue can be closed:
https://us-rse.org/calendar/

[2020-10-05 09:04] vsoch commented on #116
I think the calendar could be better (e.g look at the SORSE sore) but if others on the issue are content please feel free to close.

[2020-10-05 10:12] marwahaha commented on #116
What do you mean "SORSE sore"?

[2020-10-05 13:58] jordanperr commented on #116
I agree with Vanessa that our calendar isn't very good. It's been a struggle to keep it updated, and the way it renders on the website is not very useful.

The reason we settled on a Google calendar was so that visitors could subscribe to it in their calendar applications. It's also relatively easy and familiar to update and modify.

[2020-10-05 14:51] vsoch commented on #116
https://sorse.github.io/programme/calendar/

[2020-10-05 19:02] cosden commented on #116
Agreed it could be better. I also agree this can probably be closed.

Perhaps a better issue would be how to set up a system where it gets appropriately populated.

I'm happy to add events to the calendar...I think I've finally figured out how to make the permissions/timezone etc work. Should we have the SORSE events on our calendar?

[2020-10-05 19:17] vsoch commented on #116
I think I'm wondering about the methods that folks generally use to schedule / plan, and if that warrants having a calendar that works really well, period. For example, I'm not likely to browse to an event page and click "Add to calendar" but I am likely to register for things, and then get a Zoom email invite that I add to my calendar. I'm also likely to do the same route, but through slack. So T

[2020-10-16 20:38] cosden opened #304 "Add old events to appear in "events archive""
We only added the Sept 2020 and Oct 2020 community calls to the US-RSE calendar, and not the events pages. I think it would be a mistake to lose track of them. So for archival purposes, we should go through and makes sure we have everything that belongs in the archive (https://us-rse.org/events-archive/) listed. This should just mean creating a page for each event with it's original date.

I know

[2020-10-16 20:41] vsoch commented on #304
The events archive should include all events that have passed, so if something is not showing it hasn’t passed, is not an event, or there is some other bug. We shouldn’t need to manually do anything.

[2020-10-16 20:41] cosden opened #305 "Add SORSE"
I'm not sure the best place to put it. Maybe just in links (https://us-rse.org/links/), but linked in the calendar might also make sense.

[2020-10-16 20:42] vsoch commented on #304
Oh I see, so you are saying the community calls (currently posts) should be added to be events, just so they appear under the archive. Yeah that makes sense!

[2020-10-16 21:07] cosden commented on #304
Yes, exactly. I think having a complete events history is important.

Anyone is welcome to do add them, or I can do it eventually. It's a pretty mundane task (probably just copy event announcement/email to a new markdown page). I didn't want to lose track of the idea!

[2020-10-20 19:34] cosden opened #309 "Don’t expire jobs with working links"
In #308 I removed a number of expired jobs from 2+ months ago. So it looks like clean_jobs.py isn't working correctly, or isn't being run.

[2020-10-20 19:45] cosden commented on #304
We got the two recent ones thanks to @s-sajid-ali!

Digging through the archives, I think we have two more ancient ones to add:

US-RSE Community Open Discussion
Tue, Jul 16, 2019 2:00 PM - 3:00 PM EDT

US-RSE Community Call
Tue, Oct 29, 2019 2:00 PM - 3:00 PM EDT

I don't have an agenda or any more details at the moment. I think writing them down to capture them as an "event" is most important.

[2020-10-20 19:48] vsoch commented on #309
@cosden I took a look and it's working as we expect - the goal of the script wasn't to immediately delete an expired job based on our date, but to delete an expired job with a link that is expired, because if you remember our CI was often failing because of broken links. So what the script does is loop through the current jobs, and regardless of expire or not, if the link is okay the file is kept.

[2020-10-20 19:49] vsoch commented on #309
You can look at the commit history and look for "Automated push to update jobs.yml" to see the times when it's found an expired link and removed it https://github.com/USRSE/usrse.github.io/commits/master. And you can look at the Actions tab to see that it is running.

[2020-10-20 19:50] vsoch commented on #304
Sounds like another opportunity for a Hacktoberfest point!

[2020-10-20 19:52] cosden commented on #309
Ah ok. Thanks @v! I was sure you'd know. I didn't look into it at all, I was just surprised to see so many old jobs still there. I agree that the way it's set up makes sense!

[2020-10-20 19:56] cosden commented on #309
What do you think about keeping all jobs (regardless of supplied expiration date) if the link is active? Did we have the clean jobs script when we set up the expiration date?

Keeping with the more conservative approach, I think I'd rather err on the side of keeping up any possible open position even if the user supplied expiration date has passed.

[2020-10-20 19:59] vsoch commented on #309
We can't keep jobs that have broken links because the url checker will fail, and we have to check the urls for the file so we can be sure we aren't serving broken links. So to be clear, currently we are conservative and try to keep *all* jobs, unless the url is 404, which isn't super useful to keep anyway (as the job has been removed).

[2020-10-20 20:00] vsoch commented on #309
So you want to remove the expiration date check entirely? Just display whatever jobs are there?

[2020-10-20 22:42] s-sajid-ali commented on #304
Sure, I can add these later tonight/tomorrow.

I've found the post call summary for July 2019 call at [this page](https://us-rse.org/2019-07-24-newsletter/) but I didn't find a summary of October 2019 call. Could one of you point it out ?

[2020-10-21 02:10] #304 closed

[2020-10-21 02:17] cosden commented on #309
That's what I'm wondering. Removing broken links is important, but I'm trying to decide what purpose having a user supplied expiration date serves. If I just removed 4 jobs that "expired" in July but are still active postings, they could have been on the site for 3 months getting eyes on them. I'm trying to think of the downside. Jobs are filled but links never break? Does that happen? If so, mayb

[2020-10-21 02:29] vsoch commented on #309
Let’s try it! I’ll open a PR tomorrow.

[2020-10-23 03:35] cosden commented on #309
Moving forward we'll set expiration dates far in advance. For now done in #308.

[2020-10-23 03:35] #309 closed

[2020-11-05 01:33] vsoch opened #319 "Package cloud expired key"
It looks like our automated updated job is hitting an issue with an expired key on package cloud, or some issue that returns 402 "payment required"

![image](https://user-images.githubusercontent.com/814322/98186504-1c2ffa00-1ecc-11eb-9f03-c9023cb5b168.png)

This seems to generally pop up over the years when a key expires

- https://github.com/git-lfs/git-lfs/issues/3474
- https://github.com/r-lib

[2020-11-05 05:37] vsoch commented on #319
Keys are back online! Confirmed with a re-run https://github.com/USRSE/usrse.github.io/runs/1356641632?check_suite_focus=true. This should be resolved,at least until they expire again XD

[2020-11-05 05:37] #319 closed

[2020-12-04 22:14] valeriabarra opened #337 "Update profile"
Hello,
I have already joined in the past, but now my institution and location have changed. I do not see a way to update this info from the website. I only see how to join again (which I don't think should be used in this case).

Is there any other way I haven't discovered so far?

[2020-12-04 22:37] vsoch commented on #337
hey @valeriabarra ! Are you looking at the map (or generally referring to what you input on the join form?) If you want to email that to me (or someone in USRSE, or even post on the slack) we can change that for you.

[2020-12-04 22:47] valeriabarra commented on #337
Yes, I was looking at changing both my location on the map and my institution. Ok, I'll slack you, thanks!

[2020-12-04 22:47] #337 closed

[2020-12-04 22:50] vsoch commented on #337
This has been fixed in the Google sheet, changes will appear on the map in the next generation. Thanks Valeria!

[2020-12-04 22:51] valeriabarra commented on #337
Thank you for the fix, @vsoch !

[2021-01-01 00:37] vsoch opened #346 "Bug with switch to new year"
It looks like the timestamp is okay, but since we are running the action later in the day, on GitHub time it's already 2021! So the year is erroneously flagged as 2021. I'll fix this tomorrow, meaning:

 - setting the action to run earlier in the day before it's a new day/year
 - manually updating the membership counts for December

[2021-01-04 16:23] pllim opened #348 "Job Postings: Add date posted and sort reverse chronologically"
Looks like "date job was posted" is not currently captured in https://github.com/USRSE/usrse.github.io/blob/master/_data/jobs.yml . Would be nice to have that info and then sort reverse chronologically by that.

Thanks!

[2021-01-06 02:31] vsoch opened #349 "Zoom links need to be ignored"
The urlchecker is failing because of an expired Zoom link. This, we should whitelist them. I’ll put in a PR in the next day or so!

[2021-01-06 13:34] #349 closed

[2021-01-10 21:09] vsoch commented on #346
I did this manual update, forgot to close the issue.

[2021-01-10 21:09] #346 closed

[2021-03-11 18:08] coolbrg opened #406 "Any thought on redesigning of the UI/UX?"
Hi Folks,

It seems the website is built on top of [Beautiful Jekyll](https://beautifuljekyll.com/) theme which is beautiful and I agree.
However, do we have any plan or is this been even under discussion to change the UI / UX of the website?

Regrads,
BRG

[2021-03-11 18:17] vsoch commented on #406
This (I hope) would definitely be under discussion for change, because (at least my opinion) is that this theme is not super attractive. However, we would need to maintain the overall structure to preserve current links, collections, etc. so we would either 1. change the style for the current organization or 2. find a new theme, modify it for this organization, and use that.

[2021-03-11 18:29] coolbrg commented on #406
I feel this one until someone willing to grab option 2 :satisfied:

[2021-03-11 21:25] cosden commented on #406
Everything should be on the table and open for discussion. This website served us well 2 years ago when about 8 people knew who we were. Time for bigger and better.

[2021-03-11 21:38] danielskatz opened #408 "link from website to governance"
Like we do with the code of conduct, we should serve the [governance document](https://github.com/USRSE/documents/blob/master/governance.md) from the website

[2021-03-11 22:14] vsoch commented on #408
I can do this.

[2021-03-11 22:16] danielskatz commented on #408
great, thanks!

[2021-03-12 05:20] coolbrg commented on #406
That's quite amazing to hear @cosden  😊

[2021-03-12 13:22] #408 closed

[2021-03-12 15:03] coolbrg opened #412 "[issue] Make CHANGELOG.md file readable"
At present the _CHANGELOG.md_ file seems unreadable and serves no purpose.
<img width="1218" alt="Screenshot 2021-03-12 at 8 25 58 PM" src="https://user-images.githubusercontent.com/1132451/110957415-9a684580-8371-11eb-8a0a-2c03f0cba306.png">

Since this repository have no release cycle format, so the default format doesn't apply as well.

[code]

For this project, we can use the following approac

[2021-03-12 15:39] vsoch commented on #412
That’s strange, at least it used to be readable! I’d definitely be down for fixing this up - I use these logs pretty religiously for my other projects but it’s not really used here.

[2021-03-12 16:22] coolbrg opened #413 "[feature] Embed membership form in /membership url"
## Feature

Users should be able to fill the membership form on the website only.
It is a better UX than the present one where the user is directed to a completely new page.

## How to embed Google form

Google Learning Center has [this nice guide](https://support.google.com/a/users/answer/9308623?hl=en) on embedding the google form into the web page.

[2021-03-14 10:40] coolbrg opened #414 "[issue] Enforce the website domain to have HTTPS"
## How to reproduce

- Click http://us-rse.org/ (notice `http`)
- URL tab indicates `Not Secure`

## How to fix

- https://github.com/USRSE/usrse.github.io/settings
- Under section `GitHub Pages`, click on checkbox `Enforce HTTPS` (NOTE: Only Admin can do it)
<img width="600" alt="enforce" src="https://user-images.githubusercontent.com/1132451/111065444-b558c800-84df-11eb-936d-79b6ccd3a59d.png">

[2021-03-14 11:53] vsoch commented on #414
Done! Give it another go!

[2021-03-14 12:02] coolbrg commented on #414
Verified. Working fine now 👍

[2021-03-14 12:02] #414 closed

[2021-03-14 13:25] coolbrg opened #416 "[feature] Add subscribe section"
I think having a subscription on the website is one of the standard ways to get the audience engaged.

The flow is quite simple:
- Embed subscribe form in Website
- User fill in required details: email [ or full name ]
- Above info get stored in `Email Marketing Service Provider [EMSP]` (eg: https://mailchimp.com)
- EMSP provides a nice user interface for writing announcements, news updates, newsl

[2021-03-15 13:30] christophernhill commented on #416
So far we have been using Slack sign up as the way for people to subscribe, that adds them to an email list etc.... That does presume people are using Slack, which may not be the case for everyone we want to reach.

[2021-03-15 16:40] #412 closed

[2021-03-18 13:06] coolbrg opened #418 "[enhancement] Enable linkedin sharing for blog post"
Currently, we have only Twitter sharing enabled for blog posts.

LinkedIn is also a good platform where we might get attraction after Twitter.

[2021-03-18 13:18] #418 closed

[2021-03-18 14:30] coolbrg opened #421 "[question] Any thought on using dynamic website"
Hi Folks,

I am really curious to know your opinion on _whether we should use a dynamic website in near future?_.

The current website is _static_ and for every bit of change, we need to send a pull request, etc. Although, it is one of the best and maintainable ways to use it at the beginning it has its own limitations.

## How things will change in a Dynamic website

- there will be a user accoun

[2021-03-18 16:32] vsoch commented on #421
I am a strong NO for this one. Dynamic usually means something like Wordpress, a CMS, with a database, which means 1. it's no longer an open source project that we can work on together, 2. it's vulnerable to being hacked or similar, 3. it relies on a host that we likely need to pay for. Static is the way to go, imho.

[2021-03-18 19:09] coolbrg commented on #421
I am actually thinking for [Ruby on Rails](https://rubyonrails.org/) based rather than _Wordpress_ which I prefer not to because of the reasons you mentioned.

But, considering that the community members should be able to contribute to the website development I also suggest Jekyll. Will be closing this issue for now.

[2021-03-18 19:09] #421 closed

[2021-03-19 01:19] exoticDFT opened #423 "[feature] Automate notification of PR on slack"
It would be great to automate the Slack channel of a PR, rather than being a manual part of our PR checklist.

Potential solutions:

- This can be done with [GitHub Actions](https://github.com/marketplace/actions/slack-github-actions-slack-integration). Not sure the right choice for our current CI process.
- We could use [this CircleCI integration](https://circleci.com/docs/2.0/notifications/). Re

[2021-03-19 01:26] vsoch commented on #423
So the assumption is that most people don't get email notifications? And having all these added notifications in the website channel wouldn't be too much? Where I've seen integrations like this, there is a channel just for the notification. But then because of that, not many people look at it. Personally, I get emails so it would be a double notification for me.

[2021-03-19 02:13] exoticDFT opened #424 "[feature] Improve layout of redirected pages"
The current way we are redirecting pages is done using the default page layout. Therefore the title and subtitle will still be displayed with a redirecting message.

It would be good to create a redirect layout to use for current and future pages that need to be redirected. We could do this either [manually or with the jekyll-redirect-from](https://stackoverflow.com/a/36848440/1403865) plugin.

[2021-03-19 02:16] vsoch commented on #424
The plug-in is probably not necessary because the code is pretty simple and we already have it for the most part (and it’s good to be conservative and limit external dependencies) but we easily could change the redirect layout or timing to be different!

[2021-03-19 04:59] exoticDFT commented on #423
Double notifications could become an issue. So I'm definitely not suggesting making a ton of notifications on the Slack channel. Just ones we deem beneficial as a group. But we specifically have a checkbox in our PR form that says "I have posted the link for the PR in the usrse slack (#website) to ask for reviewers". Instead of making the requester do this manually, we could have one of the above

[2021-03-19 05:02] vsoch commented on #423
We could kill two birds with one stone if we create a website notifications channel, then people can choose to be notified on slack or not, and people wouldn’t have to double copy paste.

[2021-03-19 06:59] coolbrg commented on #424
Actually, the `jekyll-redirect-form` is already part of of `github-pages` gems.
[code]

And, not only that we are having all these plugins as well:
[code]

See current list https://pages.github.com/versions/.

More painful for me to see is those `jekyll-theme-*` plugins which we are not even using 😞

[2021-03-19 07:01] vsoch commented on #424
Yuck, I guess we are already in dependency hell! Whatever you decide to do, I’m ok with then, both options are just about the same.

[2021-03-19 07:04] coolbrg commented on #424
I am in favor of `jekyll-redirect-form` plugin as it is battle-tested. However, not sure about those dependent gems.
My usual Gemfile has these much for any standard website I develop:

[code]

[2021-03-19 07:07] coolbrg opened #425 "[refactor] Address the unnecessary dependent gem issues"
I recently came to know that we are using unnecessary dependent gems which comes with `github-pages` gem.

See more in the comment https://github.com/USRSE/usrse.github.io/issues/424#issuecomment-802603030.

My standard Gemfile has these much content:
[code]

This issue is created to address the refactoring of the Gemfile.

NOTE: We might need to be careful while doing it.

[2021-03-19 07:10] vsoch commented on #425
This would be easy to tackle soon - do you want to take charge of it  @coolbrg? I would be happy to review!

[2021-03-19 07:15] coolbrg commented on #425
Ya sure.

[2021-03-19 07:22] coolbrg opened #426 "Use of issue labels"
I noticed that we are not using issue labels at all.

<img width="400" alt="Screenshot 2021-03-19 at 12 48 09 PM" src="https://user-images.githubusercontent.com/1132451/111744520-6204c200-88b1-11eb-9310-ae525d2e8f6c.png">

These issue labels are the core of any open source project and helps in effectively manage the project.
Those labels actually become clickable and then sort the issues as per th

[2021-03-19 07:24] #191 closed

[2021-03-19 07:26] vsoch commented on #426
Before fairly recently we only had 2-5 issues at a time so we haven’t needed them, but we could use them if we have more and need to. Would you like to propose a plan for the community to follow and instructions for the README?

[2021-03-19 07:41] coolbrg commented on #426
Sure. 👍

[2021-03-19 18:35] cosden commented on #423
I think this might be solving a problem that doesn't exist. We don't have tons of PRs, but if it gets to be more having them in the slack channel might obfuscate actual discussion. I'd be curious how many @USRSE/usrse-maintainers actually want the PRs posted in slack. If they do, I like @vsoch's suggestion of doing it in a different channel. If they don't, then let's remove it as a checkbox.

[2021-03-19 18:39] lparsons commented on #423
I like suggestion of having a dedicated channel on Slack which allows flexibility in notifications.

[2021-03-19 18:44] cosden commented on #426
I see no reason not to include more issue labels, and have some community guidelines. @coolbrg go for it! But at the same time, I'd be very surprised if a strict adherence to a labeling policy made a significant difference to the project. Perhaps as a foundation for active future development which could turn out to be a larger project to manage, but at this point I don't think we are suffering in

[2021-03-20 12:49] coolbrg commented on #426
We can test it out for a month and then see how things go. It's worth trying. 😉
I think for this I need to be a member of the _USRSE_ GitHub org to able to play around with labels.

I am happy to consider this later when things start to go out of our hands. Right now, the issue backlogs are under control.

Feel free to close it 😊

[2021-04-17 01:52] vsoch opened #439 "Opt out of FLOC"
For the website redesign, we should definitely opt out.

https://paramdeo.com/blog/opting-your-website-out-of-googles-floc-network

Tracking imho is evil. I guess that's why they removed it from their mission statement! :laughing:

[2021-05-19 21:25] mtbc commented on #439
Headers from https://us-rse.org/ seem to include,
[code]
and the linked webpage says,

Does this apply to and block this issue?

[2021-05-19 21:30] vsoch commented on #439
I read that GitHub pages automatically opts out. https://www.bleepingcomputer.com/news/security/github-disables-google-floc-user-tracking-on-its-website/

[2021-05-19 21:30] vsoch commented on #439
So we can probably close this issue.

[2021-05-19 21:39] mtbc commented on #247
Maybe it's now time to go ahead with https://docs.github.com/en/github/administering-a-repository/managing-branches-in-your-repository/renaming-a-branch?

[2021-05-19 21:55] vsoch commented on #247
Actually let's please not do this - for the new site, it will be clean and easy to push the different git history to a main branch. If we create one now with the current site here, we can't do that.

[2021-05-19 23:07] mtbc commented on #439
Unfortunately, I don't see any `permissions-policy` set in the headers we return. It may be down to the distinction that the article draws between the `github.io` and custom domains.

[2021-05-19 23:15] mtbc commented on #247
Aha, I didn't realize quite what the merging plan is. As it it'd be obstructed then, yes, :+1: for delaying a bit longer then.

[2021-05-19 23:29] vsoch commented on #439
Maybe - do you see them in https://singularityhub.github.io/? That is native GitHub domain - if we don't see them there then it might be worth asking GitHub about. Or I would just say implementing this suggestion in the new site.

[2021-05-19 23:47] mtbc commented on #439
I do:
[code]

[2021-06-01 19:32] vsoch opened #455 "Updates to links/career organization"
1. What is an RSE should be moved to about
2. Add link to available jobs on front page (maybe replace resources)
3. Should we rename top menu item (careers) to something else? Job Board? need to imply it's not US-RSE careers, but job board.
4. Add "Upcoming Events" to show chronological events
5. Category view of events should be sorted under categories.
6. Events archive should show older events

[2021-06-01 22:49] vsoch commented on #455
Ooops opened this in the wrong repo, this needs to be under the vsoch usrse refactor site! Nothing to see here... :laughing:

[2021-06-01 22:49] #455 closed

[2021-06-01 22:50] vsoch opened #456 "Updates to events/navigation"
- What is an RSE should be moved to about
 - Add link to available jobs on front page (maybe replace resources)
 - Should we rename top menu item (careers) to something else? Job Board? need to imply it's not US-RSE careers, but job board.
 - Category view of events should be sorted under categories.
 - Events archive should show older events (and archived events should be removed from category /

[2021-06-01 22:54] #456 closed

[2021-07-18 06:20] richasay commented on #416
Where does this discussion sit?  If we can ingest the Slack sub list into mailchimp, then we could leverage newsletter functionality and it will be awhile before we hit 2000 subs.

[2021-08-10 19:47] exoticDFT opened #489 "Make all cards clickable links"
Our current homepage requires users to click on "Read more" links to get to the content. We should make the entire card clickable to get to the content. We will need to do this for all other cards found throughout the website. This will make things more mobile friendly.

[2021-08-10 19:49] #489 closed

[2021-08-10 19:49] exoticDFT commented on #489
Meant for the refresh website

[2021-09-09 14:55] cmaimone opened #493 "Job Board: add links to other job boards?"
Would be good to add a few links to the bottom of the job board to other places with a large number of RSE jobs:
* https://carpentries.topicbox.com/groups/opportunities
* https://academicdatascience.org/jobs
* https://society-rse.org/careers/vacancies/

[2021-09-09 14:59] danielskatz commented on #493
Can we get them to link to us too?

[2021-10-09 17:33] vsoch commented on #406
We have this redesign coming shortly! I'm going to port over some of the issues from the development repository now, and we are expecting to deploy here sometime next week.

[2021-10-09 17:34] vsoch commented on #247
This will be done when the new site is deployed.

[2021-10-09 17:34] #247 closed

[2021-10-09 17:34] vsoch commented on #116
This will no longer be relevant when the new site is deployed.

[2021-10-09 17:34] #116 closed

[2021-10-09 17:36] vsoch commented on #305
@cosden let's revisit this after the new site is live.

[2021-10-09 17:38] vsoch commented on #348
This will be done when the new site is live, probably next week, so safe to close.

![image](https://user-images.githubusercontent.com/814322/136668688-87cf528f-f450-4c3b-8ebd-01437608fad7.png)

[2021-10-09 17:38] #348 closed

[2021-10-09 17:39] vsoch commented on #413
Thanks for the suggestion @coolbrg ! I also like embedding Google forms, but only if it looks good with respect to the design. The website committee has opted for a big yellow button that still goes to a Google form, the reason because it looks nicer actually not embedded.

![image](https://user-images.githubusercontent.com/814322/136668712-f2bf37e6-99b5-4303-ac51-d95bc4c34479.png)

This will be d

[2021-10-09 17:39] #413 closed

[2021-10-09 17:42] vsoch commented on #416
The website serves a blog feed: https://vsoch.github.io/usrse.github.io/feed.xml so anyone that copy pastes the address into a standard feed syndication service (e.g., Feedly) can indeed subscribe. We also tend to tweet announcements which (imho) more people will follow/hear than traditional RSS. I definitely still use RSS but I think it's not everyone's cup of tea. @cmaimone and @sandragesing are

[2021-10-09 17:42] #416 closed

[2021-10-09 17:54] vsoch commented on #423
@exoticDFT are you still interested in doing this? I'll mark it post live if yes, if not please feel free to close.

[2021-10-09 18:01] vsoch opened #512 "Updates to Calendar Integration"
Originally posted: https://github.com/vsoch/usrse.github.io/issues/8

![image](https://user-images.githubusercontent.com/814322/136669328-7a3100a0-698d-498d-94b9-7536204863ea.png)

To summarize, the new site (to be deployed sometime next week) has a new calendar integration that is much more customizable. We discussed this in a meeting a while back, and decided it best to phase out our current use

[2021-10-09 18:03] vsoch opened #513 "Hacktoberfest Participation!"
Hey friend! We are currently transferring the issues from here to the USRSE upstream repository! To find Hacktoberfest issues for the US-RSE site, please see https://github.com/vsoch/usrse.github.io/issues

![image](https://user-images.githubusercontent.com/814322/136669424-17f8335f-fabc-4885-846e-8d7f34e8b567.png)

[2021-10-09 18:03] #513 closed, assigned to nobody

[2021-10-09 18:06] vsoch opened #514 "DEI Mission Statement Menu Highlight"
Originally at: https://github.com/vsoch/usrse.github.io/issues/111

![image](https://user-images.githubusercontent.com/814322/136669523-37213a7e-3082-4425-98de-6deea6a8a816.png)

We have a Hacktoberfest participant working on this, so I won't close it there yet, and will notify him of the transfer plan.

[2021-10-09 18:10] vsoch opened #515 "Make Page Content Width Smaller"
Original issue: https://github.com/vsoch/usrse.github.io/issues/106

![image](https://user-images.githubusercontent.com/814322/136669633-1aa81cf8-799a-4c1d-90f9-c179b03c8b7f.png)

[2021-10-09 18:15] vsoch opened #516 "Sizing Issues"
Original issue: https://github.com/vsoch/usrse.github.io/issues/100 opened by @cmaimone with discussion from @cosden and @mtbc

![image](https://user-images.githubusercontent.com/814322/136669744-33cad457-9102-4b1a-9796-70afca95fe1b.png)

[2021-10-09 18:21] vsoch opened #520 "Make all cards clickable links"
Original issue: https://github.com/vsoch/usrse.github.io/issues/76 posted by @exoticDFT, comment from @mtbc, and assigned to @tacoelho

![image](https://user-images.githubusercontent.com/814322/136669896-e940c11e-48a9-4598-9133-28176963aaeb.png)

This has been assigned to a Hacktoberfest participant, so issues will remain open on both boards.

[2021-10-09 18:23] vsoch opened #521 "Add dynamic content (news/events) to front page"
Original issue: https://github.com/vsoch/usrse.github.io/issues/75 posted by @cosden

![image](https://user-images.githubusercontent.com/814322/136669994-39e8607f-8dbe-4bc8-a503-c47cb482618c.png)

[2021-10-09 18:25] vsoch opened #522 "Multiple one-liner descriptions"
Original issue: https://github.com/vsoch/usrse.github.io/issues/63 posted by @cosden with discussion from @mtbc

![image](https://user-images.githubusercontent.com/814322/136670041-e824d830-0581-4e1b-a56e-f66b5df45e80.png)

[2021-10-09 18:29] vsoch opened #524 "Second feature box content"
Original issue: https://github.com/vsoch/usrse.github.io/issues/21 opened by @cmaimone

![image](https://user-images.githubusercontent.com/814322/136670157-509e7cf5-9fb2-48d8-bf20-16252b0154a5.png)

[2021-10-09 18:31] vsoch opened #525 "Change event timing from UTC to a US-based time zone"
Original issue:  https://github.com/vsoch/usrse.github.io/issues/11 posted by @cosden with discussion from @mtbc
![image](https://user-images.githubusercontent.com/814322/136670198-d43a7625-afa6-4445-b0b2-3aaddc6b1102.png)

[2021-10-09 18:32] SamuelJayasingh commented on #515
set a min-width on the container, and use a media query to kick in when the window gets smaller...

#my_div { margin: 0 auto; text-align: center; min-width: 900px; background: #999; }
@media all and (max-width: 899px){
    #my_div { text-align: right; background: red; min-width: auto; }
    #my_div #tableWrapper { overflow: auto; }
}
You shouldn't need the text-align on the body tag with this code

[2021-10-09 18:37] vsoch commented on #515
@SamuelJayasingh would you like to PR with a suggested "best effort" fix to this? Note that we are currently working at https://github.com/vsoch/usrse.github.io so if you PR before early next week, it should be done there. E.g., when this site https://vsoch.github.io/usrse.github.io/ is live here you can PR here as well! And we are participating in Hacktoberfest, so you'll get credit for that :)

[2021-10-09 18:38] vsoch commented on #515
You can also inspect the style to see that we use media queries quite a bit! https://vsoch.github.io/usrse.github.io/assets/css/style.css

[2021-10-11 16:42] vsoch opened #528 "Need consistent sidebars on site menu items"
Original issue: https://github.com/USRSE/usrse.github.io by @mtbc

![image](https://user-images.githubusercontent.com/814322/136825696-6a853803-f6c7-4946-81fe-a44dadcaceff.png)

[2021-10-11 16:57] #525 closed, assigned to nobody

[2021-10-11 23:08] suednimh opened #531 "Community Blog page needs theme update"
Community Blog page needs logo and color scheme to match main pages
<img width="1237" alt="logo_theme-blog" src="https://user-images.githubusercontent.com/32795160/136865404-6b63cf1c-5f2e-4d0d-a7c0-5b7c2f06eb8b.png">

[2021-10-11 23:27] suednimh opened #532 "Button color and label - Mac OS Safari"
Page Get Involved -> Join US-RSE has a graph with a button below the graph to print the graph. On MacOS 11.6 Safari 15.0, the button shows as only an outline with white text on a white button. Button is functional. Text exists.  Image shows comparison with Mac OS Firefox
<img width="801" alt="graph_button_safari" src="https://user-images.githubusercontent.com/32795160/136866676-bc7baeb0-9077-4150-

[2021-10-11 23:49] suednimh opened #533 "Menubar buttons incorrect colors-Mac OS Safari"
Menubar buttons have white background color instead of yellow.  Search icon is white on white instead of white on purple.  On MacOS 11.6 Safari 15.0.  Button is functional.  Image shows comparison with Mac OS Firefox on bottom, Safari on the top.

<img width="478" alt="safari_menu_buttons_color" src="https://user-images.githubusercontent.com/32795160/136868148-18687efa-a206-4889-bd0d-c67d3f16d251.

[2021-10-11 23:53] vsoch commented on #533
@suednimh can you inspect the style to see what is being triggered when it's gray? Then we can compare to the yellow and see what's going on.

[2021-10-11 23:54] vsoch commented on #532
Same here - can you please inspect the style for the broken one and see where it's being derived from?

[2021-10-12 00:12] suednimh opened #534 "Bare URL without link"
On page Get Involved -> Get Involved, at the bottom, the URL to the USRSE GitHub web site repository is not a link, it's a bare URL.
<img width="505" alt="get_involved-bare_url" src="https://user-images.githubusercontent.com/32795160/136869685-2950d49d-9102-44b5-b24e-a8fb66cc3d49.png">

[2021-10-12 00:19] vsoch commented on #534
This should be an easy fix for someone that wants to contribute to hacktoberfest!

[2021-10-12 02:14] Himanshu664 commented on #534
I want to work on this issue please assign @vsoch

[2021-10-12 02:15] vsoch commented on #534
Sure thing! Let me know if you have any questions.

[2021-10-15 13:48] christophernhill opened #540 "Web site expiry timing for events"
@vsoch and @cosden I noticed during meeting yesterday that event notices seem move to events pages archive at the start of the day they are scheduled for.  I could not find the line that triggers this - yet. I was thinking it would be good to have them archived at the end of the day?

Do either of you know how the expiry for events trigger works. I looked at the .js in _events and also in .github,

[2021-10-15 16:28] christophernhill commented on #540
Ha!  So putting expires on the day with no time was a bad 👎 idea. Thanks for clarifying 🙏

[2021-10-15 16:28] #540 closed, assigned to nobody

[2021-10-16 08:55] axrez commented on #534
Looks like @Himanshu664 wasn't interested anyways. Feel free to assign it to me @vsoch

[2021-10-16 12:38] #534 closed

[2021-10-19 17:16] lparsons opened #545 "Calendar - it's difficult to see which day of the week aligns with the dates"
The Day of the Week is aligned to the left of the column, while the dates are aligned to the right. That makes seeing which day a particular date is a bit tricky at a glance. I would suggest either adding some lines to the calendar and/or changing the alignments of the days of the week to the right.

![image](https://user-images.githubusercontent.com/645128/137959531-3373e410-4eba-488d-88b1-b8302f

[2021-10-19 17:17] lparsons opened #546 "Move Events from the (old) Google Calendar to the new "Events" calendar"
Here are the events I see on the existing [Google Calendar](https://calendar.google.com/calendar/embed?src=us-rse.org_8o774r1l7o0v7tv5im6fqaus5o%40group.calendar.google.com&ctz=America%2FNew_York) that have not been moved over to the Events page:

* [ ] US-RSE DEI Working Group meeting
* [ ] US-RSE Education and Training Working Group meeting
* [ ] US-RSE Monthly Community Call
* [ ] RSE-HPC 2021

[2021-10-19 20:03] exoticDFT opened #548 "Better integration between "project" sites and main site"
_**Brought up during the last website meeting and needs further discussion**_

Is there a way to improve some of the integrations between the project sites (rse-stories, map, rse-roles, etc.)? For example, the logo was recently updated, but several of the project sites do not have this update, since their assets are entirely independent of the main site.

[2021-10-20 01:16] lparsons commented on #546
You can also preview on CircleCI (though it's tricky and I don't know who has access). Those look fine to me.

[2021-10-20 01:18] vsoch commented on #546
It's not tricky! You click the link in the PR to go to circle (second "details" here)

![image](https://user-images.githubusercontent.com/814322/138011976-de943bc9-aafa-4e77-82ca-34ca9f829997.png)

And then you click on the "artifacts" tab and click the file to preview. And for good practice as @christophernhill has shown, if you are the first to do it, it's kind to post the links to the relevant

[2021-10-20 13:34] suednimh opened #549 "Window size affects menu visibility, with navigation fail [bug]"
From discussion in Slack, submitting as a bug.

Desktop browser: Intermediate window sizes show the hamburger menu, clicking the menu shows an X, but no dropdown shows.  You can actually see this real-time by sizing the window small enough to get the hamburger menu, click to get the dropdown, then increase the window width with the menu dropdown-at a certain size, the dropdown disappears, leaving

[2021-10-20 16:51] vsoch commented on #546
@JeffCarver there is a repeated folder under events for exactly this need - so you just need to make one file, once.

[2021-10-20 17:09] vsoch commented on #546
It will need to be similar logic to what we have now, but check for the boolean repeated = true in the front end matter, and then we will probably need an "until" date that defaults to maybe a year later, and then a format to represent the kind of repetition / settings.

[2021-10-20 18:18] JeffCarver commented on #546
Yes, it is the Education & Training Working group monthly meeting. The meeting occurs on the first Tuesday of each month. 11:30-12:30 Eastern.  Google Drive Folder for agendas and notes: https://drive.google.com/drive/u/1/folders/1mwnSDKh57I5MA9lk2DhRVxhjNc76wDXT

Zoom link available by contacting us on Slack.

Please let me know what else you need? Also, if you are going to do this, then I will n

[2021-10-20 20:26] cferenba opened #553 "Put "Events" in chronological order"
On the "Events" page the events in each section are in *reverse* chronological order, so that the next upcoming event is at the end of the list.  Can this be fixed to put the events in (forward) chronological order, which will probably be more intuitive to readers?

[2021-10-21 18:45] lparsons opened #556 "Unable to export calendar events"
The new calendar integration with the Events page is excellent. However, I noticed that the link "Add all events to your calendar" on the [Calendar page](https://us-rse.org/events/calendar/) does not seem to work. I've relied on having a copy of the US-RSE calendar viewable in Google Calendar to keep track of the events without having to add them all individually, so this functionality would be mo

[2021-10-21 18:48] lparsons opened #557 "Calendar events pop-up off screen"
When clicking on an event from the calendar page, the details pop up off to the right of the screen.

![image](https://user-images.githubusercontent.com/645128/138338329-3de5114e-aeb1-46fb-96b3-fb670f9078ff.png)

I see this in:
* Chrome - Ubuntu (desktop)

Works in:
* Firefox - Android

[2021-10-22 03:53] vsoch opened #558 "Implement "Add to Calendar" for Repeated Events"
Currently, the add to calendar button can work easily for a non-repeated event because we have a reliable date and time from the event markdown directly. Repeated events are generated by the fullcalendar plugin so we don't have this, so we can't populate the javascript call. A solution to this problem would (I think) be able to associate the date from the calendar with a link to the page, possibly

[2021-10-22 12:33] danielskatz opened #559 "calendar issue - event order"
In the calendar list of events, I think we should list events in time order (soonest to latest), unlike what is done now
<img width="1159" alt="Screen Shot 2021-10-22 at 7 31 16 AM" src="https://user-images.githubusercontent.com/2913845/138454193-a92b5c6f-2d7d-4f94-9dd4-87cee6a21c28.png">

[2021-10-22 12:35] #559 closed, assigned to nobody

[2021-10-22 16:21] cosden opened #562 "Job Board Posting Procedure"
We currently have a google doc that requests the necessary info for posting a new job. It makes adding very easy. Right now I get notification when someone fills it out - but it's only me. And I'm not a reliable source for prompt posting!

We need to figure out:
1. Who should get notifications for requests?
2. How do we review borderline jobs for relevance?

I'm not sure this is necessarily a webs

[2021-10-22 18:33] #557 closed, assigned to nobody

[2021-11-01 14:53] cmaimone commented on #516
I'm not up to date on what steps have been taken here, but on my not small laptop, this is what I get currently:
<img width="1338" alt="image" src="https://user-images.githubusercontent.com/14303565/139691615-37f4fff4-9bf8-4650-a5cb-2b9612acda32.png">

[2021-11-19 17:06] mtbc commented on #247
Could it make sense to now delete the `master` so as to avoid confusion?

[2021-11-19 17:07] vsoch commented on #247
No I don’t think so - it’s a memory of our first site and main is clearly marked as the main branch.

[2021-11-19 19:02] mtbc commented on #549
On Linux I'm observing this with Firefox 78.15.0esr but not with Firefox 94.0. I don't know if that's the *only* difference between the two systems.

[2021-11-19 19:34] #553 closed

[2021-11-19 19:35] #545 closed

[2021-12-01 16:04] danielskatz opened #611 "download button for membership graph is empty"
On Mac/Safari at least, there's an empty button that lets me download the membership graph - It seems like it should have some content?  See bottom left in this screenshot

![Screen Shot 2021-12-01 at 10 02 36](https://user-images.githubusercontent.com/2913845/144269236-0347ec52-f625-4a2f-9565-13a803f2d86d.png)

[2021-12-01 16:08] vsoch commented on #611
Looks to be a styling issue (is the text there but white?)

[2021-12-06 20:10] exoticDFT opened #615 "New layout for Working Group pages"
The DEI-WG was going over the PR for adding a page to represent the group and noticed the layout is a bit hard to read. Specifically, the headers (h2,h3,h4) all seem comparable in size and hard to distinguish between levels of hierarchy.

We didn't come up with any solutions, but wanted to have a discussion about improving the layout for the WG pages in general/

[2021-12-06 20:20] vsoch commented on #615
It would be fairly straight forward to change sizes for the font - feel free to test out and then give some a try (or others reading to do the same!)

[2021-12-06 20:21] vsoch commented on #615
Also there is nothing special about the working group pages - they are blank canvases for whatever you want them to be. So this issue is more about header sizes, which would be for _across the site_.

[2021-12-06 21:11] exoticDFT commented on #615
Thanks for the quick response @vsoch. I believe our conversation was geared towards creating a common layout between all working group pages. As we somewhat envisioned there would be consistency throughout them.

However, if we want to have the layouts be independent for each working group, then I agree this is definitely a more generic website change we could employ.

[2021-12-06 21:22] vsoch commented on #615
That would work too! It would definitely require conversation between different groups about what is needed - I figured markdown (and control of the entire page) would make sense to allow this flexibility. I wonder if it would make sense for working groups to create includes (e.g., components you add like):

[code]
and then mix and match what is desired. But again, I'm not sure about overlap of ne

[2021-12-07 17:52] NickleDave opened #618 "change link styling to be more visible / underline on hover?"
https://us-rse.org/events/2021/2021-12-community-call/

(copying text from Slack discussion)

@mtbc gave a 👍 for raising an issue

@cmaimone added:

[2022-01-10 22:12] vsoch opened #641 "Dependency tracking"
This issue is opened on behalf of @mtbc !  The question is if we should have some extended way to keep track of dependencies for our workflows, e.g., the Github actions we use.

[2022-01-11 18:19] mtbc commented on #641
Thanks! Thinking of more than just workflows, could be Gemfile, etc. too (what else?): though, also, to avoid maintenance headache, could simply be a note of where to look for dependencies and how to find them in those places, e.g., "look for `uses:` in `.github/workflows/`"!

[2022-01-11 18:23] vsoch commented on #641
I would argue that Gemfile, requirements.txt, are doing exactly that job, and people know to look for them. It seems more error prone to reproduce that information somewhere else and then need to update two places, and probably forget to do one so the second place is wrong.

I guess as a developer I know to look for these files, but if you think it would be helpful you can write a dependencies sec

[2022-01-11 18:54] mtbc commented on #641
Aha. I keep being surprised by where I find dependencies but you may be right that, for anyone who actually needs to check them, they already know where to look!

[2022-01-18 15:23] cosden opened #649 "License & permission"
Because it's public, there are a few questions I think we should proactively address:

1. How should we license the content? (Does it have to be the same for each item?)
2. Should each picture have its own attribution?
3. What kind of permission do we need from image owners?
4. Should we insist that the picture owner upload content/approve, or is anything in slack fair game?
5. Do we need a way th

[2022-01-18 15:24] cosden commented on #649
This is for the gallery site. I'm going to close this and move it over there.

[2022-01-18 15:24] #649 closed

[2022-01-28 18:38] lparsons opened #667 "The Events page doesn't seem to show all events"
The main ]events page](https://us-rse.org/events/) only shows the workshop in April right now, however, there are a number of other events that display on the calendar.

![image](https://user-images.githubusercontent.com/645128/151602885-3051c3c5-4fe5-4e72-9d8c-d47451b4e94d.png)
![image](https://user-images.githubusercontent.com/645128/151602986-5c7e3d86-423f-4846-8315-83714ceaebbf.png)

[2022-01-28 18:38] mtbc commented on #549
Currently observing it with Firefox 96.0 so it's clearly not simply a version issue.

[2022-01-28 18:50] vsoch commented on #667
I suspect those are all repeated events, which is a design thing we added with the new site, and those just need to be added to the events layout page (which is largely the same as before but with a different design).

[2022-01-28 19:29] #549 closed

[2022-01-28 21:08] exoticDFT commented on #667
I think this was a discussion before about the categories, but it's been a while so I might be misremembering. At the moment, it seems we are only listing a few available categories and dei is one. However, education (or something similar) is not. I think we talked about potentially just having a "working group" category, but decided on a single one for each instead? Either way, I may have to add

[2022-01-28 21:15] vsoch commented on #667
@exoticDFT maybe we just need to add categories for each working group? I think it's fair to have separate (instead of clumping them into one).

[2022-01-28 21:18] exoticDFT commented on #667
@vsoch Yep totally fine for me. I think that's what we had originally decided. Issue with all repeated events, at a first glance, seems to be that they are missing any category variable. I'll update and make sure everything is working

[2022-01-28 21:24] lparsons commented on #667
@exoticDFT I have not yet attempted to add the recurring DEI-WG meeting, but thanks for asking. I was about to and ran into this and then got pulled into a few other things. If you've got bandwidth to work on it today, please do.

[2022-01-28 21:26] exoticDFT commented on #667
We have a preference on what category to make of the Xpert reoccurring event. I'm not sure how I missed this first time around, but I'm not sure what the category should be.

Also I swear I had these reoccurring displaying the dates correctly, but that needs to be fixed as well.

[2022-01-28 21:27] vsoch commented on #667
Maybe just conference, training, or something general?

[2022-01-28 21:43] exoticDFT commented on #667
I'll go with training for now. If someone has a strong preference before we merge, I'll adjust it then.

[2022-01-28 22:18] exoticDFT commented on #667
hmmm I found another bug. Any tag with a "-" in it will potentially be categorized as both things. For example, I just added
[code]
to `_data/events.yaml`, updated Xpert to use `training`, updated the education recurring event to use `education-training` and now the recurring "Education and Training" event is under both the "Education and Training" and the `Training` category tags/sections, while

[2022-01-28 23:29] vsoch commented on #667
@exoticDFT the script there is commented pretty robustly so I'd take a look to see what is going on. I suspect the issue is that we have category as a single item instead of a list, and then here:

[code]
That is seeing if the page at the include.field (which is category) _contains_ the name, and this is done likely because it was assumed to be a list and not a text field. This explains the partia

[2022-01-28 23:50] vsoch commented on #667
Just to follow up here (chatting with @exoticDFT after this in slack) and the fix above indeed does work! :partying_face:

[2022-02-08 06:26] srbdev commented on #611
Correct, and adding `-webkit-appearance: none` to the inline style attribute fixes it. Here's a [link](https://developer.mozilla.org/en-US/docs/Web/CSS/appearance) for documentation on that specific CSS property.

I can submit a pull request, but wanted to check on a proper fix first: the documentation notes to use the property carefully with `none` so having it localized inline instead of in `sty

[2022-02-08 06:35] srbdev opened #697 "Styling issue with Search icon in Safari"
The styling for the Search icon on Safari (macOS) is messed up!

<img width="383" alt="Screen Shot 2022-02-07 at 11 27 04 PM" src="https://user-images.githubusercontent.com/2583156/152930867-e099cb70-63f5-42e5-8675-c2f3df70f61d.png">

But it should be looking like this instead...

<img width="327" alt="Screen Shot 2022-02-07 at 11 33 04 PM" src="https://user-images.githubusercontent.com/2583156/15

[2022-02-08 06:56] vsoch commented on #611
I would also just apply it inline with the element since we don't have others like it, and it's unclear what the global application might do. Thanks @srbdev !

[2022-02-09 02:07] srbdev commented on #697
Closing because duplicate of [533](https://github.com/USRSE/usrse.github.io/issues/533).

[2022-02-09 02:07] #697 closed

[2022-02-09 02:07] #611 closed

[2022-02-09 06:39] #533 closed

[2022-02-09 11:53] vsoch commented on #532
This should be fixed.

[2022-02-09 11:53] #532 closed

[2022-02-09 11:57] vsoch commented on #439
We don't have to worry about this anymore - Google dropped it :) https://searchengineland.com/google-kills-floc-introduces-topics-api-379120

[2022-02-09 11:57] #439 closed

[2022-02-10 20:27] mtbc commented on #522
Should pick tagline on each load so solution probably must be client-side.

[2022-02-10 20:44] mtbc commented on #522
What helpers do we like to use for JavaScript? At a glance I see we seem to have an old Alpine and an older jQuery? Maybe something else. Don't know what we want to add more code depending on.

[2022-03-04 19:45] exoticDFT opened #739 "[bug] Truncated event title when using "Add to Calendar" button"
When reviewing #738 I noticed that using the "Add to Calendar" button that the title was truncated at the & symbol. I tested the button for both Oulook 365 and Google Calendar. The same behavior was seen in both. Looking at the code, it doesn't seem to be doing anything to break at the & symbol. Code: `{%- assign title = include.title | default: post.title | default: page.title %}`

I was only abl

[2022-03-04 19:48] vsoch commented on #739
oh you probably just need to pass it through xml_escape or jsonify.

Repeated events don't have support for add to calendar, unless someone can figure out how to implement that :)

[2022-03-04 22:58] exoticDFT commented on #739
Thanks @vsoch I started playing with this, but wasn't sure how to proceed. Sadly, I tried a few liquid filters, xml_escape, jsonify, smartify, but none seem to work. I'm not super familiar with js and I'm afraid this is js related thing. Does js have a way to detect special characters and escape them, or is this a function someone would need to write?

[2022-03-04 23:13] exoticDFT commented on #739
Well here's a hack, but it will only work for & and no other special characters at the moment...

Line 16 in add-to-calendar-button.html (which unrelated, but is in the `_inlcudes` dir, but not `_includes/buttons` 😝 )
[code]

[2022-03-04 23:26] vsoch commented on #739
hey if that fixes a good chunk of our issues, it works!

[2022-03-04 23:35] exoticDFT commented on #739
Well it fixes this specific event's issue haha. I can PR this change for now, but I'd suggest we leave this issue open to actually resolve it. I'm certain someone will add a # or something, which also doesn't currently work. But maybe I'm overthinking this. Most other characters seem to work fine.

[2022-03-04 23:38] exoticDFT commented on #739
What's our policy on making formatting changes? Is it okay if I add returns and indentation to the event-time.html file to make it a little easier to read?

[2022-03-04 23:40] vsoch commented on #739
haha of course you can! Someone has to fix all the damage I've done :laughing:

[2022-03-04 23:59] exoticDFT commented on #739
Last question. Is it cool if I add one unrelated thing.

1. I'm working on a newer version of Ruby than some it seems and "webrick" needs to be manually installed via bundle. Is it okay if I add this to the Gemfile? I have tested this same sort of thing on older machines running Ruby 2.7.x and having it specified hasn't cause any issues I'm aware of.

[2022-03-05 00:04] vsoch commented on #739
hmm, as long as it doesn't break builds on the CI and for others using older versions of jekyll, it would probably be okay. But why exactly is it needed? E.g. why does Ruby add this dependency or what are you running?

[2022-03-05 00:18] exoticDFT commented on #739
I'm on Ruby 3.0.0. Every time I pull this repo without my local Gemfile with "webrick" listed, it complains that it is missing. I assume most people are using Ubuntu and thus probably Ruby 2.7.x. If I don't have it I get this error
[code]
It's not necessary, just an inconvenience for myself and I'd assume anyone else running Ruby 3.x. I'm just assuming most aren't using this version of Ruby yet.

[2022-03-05 00:20] vsoch commented on #739
Yeah that’s annoying! Let me see if I can reproduce your issue on my computer and we’ll go from there.

[2022-03-05 01:34] vsoch commented on #739
@exoticDFT I reproduced your error in the ruby:3.0.0 container with a fresh clone of the site, and I also tested installing webrick locally (on older ruby and jekyll) and I didn't encounter any issue! So go ahead and add to the Gemfile, and as long as the CI still works I think we will be good with this change.

[2022-03-05 18:59] vsoch opened #741 "Design a pretty 404 page"
This is accidentally in a TODO file I left, and it looks like everything is done (except for that) so I'm opening the issue to remove the file!

[2022-03-05 19:12] vsoch commented on #739
Closed with #740

[2022-03-05 19:12] #739 closed

[2022-03-06 01:14] AlfredoR-CSUF commented on #741
Hello! Could I possibly be assigned this issue? These would be changes made to 404.html correct?

[2022-03-06 01:17] vsoch commented on #741
That's correct, and yes of course! Right now our 404 page literally just says "404":

https://us-rse.org/404-does-not-exist-example

And one thing that makes sites really unique are having special 404 pages! They even have lists of them:

https://www.creativebloq.com/web-design/best-404-pages-812505

So you are assigned - and please have fun, be creative, and if you want to brainstorm or chat with

[2022-03-06 01:19] AlfredoR-CSUF commented on #741
Sounds good! I will try my best thank you!

[2022-03-07 17:37] vsoch commented on #741
Beautiful work @AlfredoR-CSUF ! I couldn't find you on the USRSE slack, but I do hope you join us! We shared your contribution on Twitter - https://twitter.com/us_rse/status/1500887530857582592 thank you again for the new page! :sparkle:

[2022-03-07 17:43] AlfredoR-CSUF commented on #741
Thank you! Had a great experience for my first time collaborating on GitHub. I'm working on joining the slack had a few issues with account setup. Look forward to future projects!

[2022-03-14 22:53] vsoch opened #755 "Daylight savings time"
There seems to be a brief time when UTC daylight savings hasn't started (but ours has?) until March 27th where the hours are going to be off by one. This is super annoying, yes, and we can decide if it's worth trying to fix. See the discussion here:

https://github.com/USRSE/usrse.github.io/pull/753

We can also just do fixes for events in this range.

[2022-03-24 04:21] srbdev opened #767 "Create a container for previewing the site"
The motivation is to allow contributors to utilize a container versus having to install the needed dependencies locally, in order to preview the site.

[2022-03-24 04:23] srbdev commented on #767
@vsoch can I assume to make this a Docker containers?

[2022-03-24 05:16] vsoch commented on #767
Yes.

[2022-04-02 03:18] vsoch commented on #641
@mtbc I'm actually working on software for this (just stumbled on the issue!) check out https://github.com/vsoch/citelang. I haven't added support for gem deps yet, but definitely could if there are suitable APIs available. But indeed it supports GitHub and that sort of thing - here is a current png for our org, first just from the GitHub dependency graph (up to a certain amount of credit / cutoff

[2022-04-02 03:18] #755 closed

[2022-04-02 03:19] vsoch commented on #562
@cosden I think with our awesome jobs posting team this is good to close?

[2022-04-04 12:32] cosden commented on #562
@vsoch yes, indeed!

[2022-04-04 12:32] #562 closed

[2022-04-12 11:58] mtbc commented on #641
That is really neat, thank you. The synergy between the secvuln aspect and the due credit aspects had not occurred to me. Of course, for the former, even a simple listing is probably good, could even be grepped or someday fed into an automated checker.

Now I wonder how to graphically show that dependencies themselves share a dependency. Let's not open that can of worms!

[2022-06-06 23:50] exoticDFT opened #830 "Bug: Multiple start and end times in event do not display correctly"
It seems that is multiple start and end datetimes are put in an event's `time:` front matter it will only render the last date. This seems to be because the JS tries to use the same HTML ID tag regardless of how many elements are in the time list. This can be found in the `_includes/events/event-time.html` file. Current code is `<time datetime="{{ time.start | date_to_xmlschema }}" id="start-time"

[2022-08-31 22:31] NickleDave opened #898 "Change titles/text on repeating community call events so they don't look like duplicates"
In #833 @jdamerow and @christophernhill added a repeating event, fixing the calendar so we have community calls alternate Thursdays and Fridays

This works as intended but @cmaimone @exoticDFT noticed that it can look like there are duplicate events, e.g. in this build artifact: https://output.circle-artifacts.com/output/job/65559ca9-11aa-496c-bba3-a9f0279ba5f3/artifacts/0/usrse.github.io/events/i

[2022-08-31 22:32] NickleDave commented on #898
Alternatively @exoticDFT wonders if "there is a specific Jekyll way to hide that one file from the event's page, but not the calendar"

[2022-09-12 19:16] NickleDave opened #917 "Allow future posts, maybe just for some collections?"
Currently when we add posts to `_events`, we need to leave out a date from the title to get them to render immediately. See comment from @lparsons here:
https://github.com/USRSE/usrse.github.io/pull/911#pullrequestreview-1101293174

A way to avoid this would be to set `future: true` in `_config.yml` as suggested by @exoticDFT
https://github.com/USRSE/usrse.github.io/pull/911#issuecomment-124138109

[2022-10-01 01:12] NickleDave commented on #618
I am looking at this some more since I am still noticing that links are hard to find (for me at least, could be my partial color-blindness).

I found these accessibility guidelines discussing how body text relates to links:
https://webaim.org/resources/linkcontrastchecker/

We already present underline on hover
(I think here?)
https://github.com/USRSE/usrse.github.io/blob/7d23c502efe554c8d1cf14235

[2022-10-07 16:53] exoticDFT opened #945 "Issue with CircleCI previews"
I've been noticing this on the last couple of PRs I've made as well.

I think this is partially an issue either with CircleCI itself or the way we have it setup. The artifacts site doesn't seem to be able to handle the URL paths we expect. For example, we expect people to be able to go to https://us-rse.org/events/2022/2022-12-AGM/, but CircleCI seems to need us to add `index.html` to the end of t

[2022-10-11 14:03] #618 closed

[2022-10-13 16:36] NickleDave opened #952 "meta post on 2022 Community Building Workshop that links to all other posts"
as suggested at community call today

posts that I can find:
* https://us-rse.org/2022-08-04-local-regional-working-group/
* https://us-rse.org/2022-08-01-education-training/
* https://us-rse.org/2022-07-01-candidate-guidance/
* https://us-rse.org/2022-06-22-community-meeting-financial-group-blog-report/
* https://us-rse.org/2022-06-04-info-interview-form-rse-group/

@bjoyce3 care to add maybe a t

[2022-10-13 16:37] NickleDave commented on #952
meta-level summary of workshop from @cosden:
https://us-rse.org/first-community-workshop/2022-05-13-workshop-summary/

[2022-10-25 15:07] lparsons opened #959 "The menu bar is wider than the minimum width which makes the support and join buttons invisible at some widths"
This looks good, with one small issue. It makes the menu bar wider than the minimum size where the site changes, so at least for me, I no longer see the support button since it's now too far to the right to show up.  See
<img width="1202" alt="Screen Shot 2022-10-19 at 12 39 22 PM" src="https://user-images.githubusercontent.com/2913845/196788017-3a950ecb-8b58-4f2a-a167-9dac9e4d5b0c.png">

_Origina

[2022-11-03 16:33] exoticDFT commented on #959
We also had talked about removing the external drop-down and moving that content to other ones. May be worth doing that. I'm not sure if this is possible, but maybe there is a way to prioritize specific drop-down menus to appear if the screen real estate isn't enough. Looking at the limits, it seems that if the screen less than 1200 pixel in width, we shift to the hamburger menu. It also seems lik

[2022-11-19 15:33] mtbc opened #994 "Show election candidates in varying order"
https://github.com/USRSE/usrse.github.io/pull/992#issuecomment-1320560718 has,

We should make it so that it is easy to show lists of candidates in varying order.

#607 raised some implementation questions. Easy enough to do in a semi-static way, so it changes occasionally as people add jobs or whatever, but for more frequently random we'll need to roll out some JavaScript.